In [ ]:
from datetime import datetime
import time
import pandas as pd
import pickle
from ib_insync import *
import nest_asyncio
import logging,sys
from k_producer import *
from util_redis import *



def histBar(contract_d,param_d,useRTH=False):
    try:
        print('starting')
        df = pd.DataFrame()
        contract = Stock(contract_d['symbol'],contract_d['exchange'], contract_d['currency'])
        bars = ib.reqHistoricalData(contract,endDateTime=param_d['endt'], durationStr=param_d['dur'],barSizeSetting=param_d['candles'], whatToShow=param_d['show'], useRTH=useRTH)
        df = util.df(bars)
        
        df = df.set_index('date')
#         df.index.tz_localize('America/Toronto', nonexistent='shift_forward')
        df.columns = map(str.lower, df.columns)
        display(df.reset_index().dtypes)
        display(df)
    except Exception as e: print(e)
    finally:
        print('ended')
        return df
    
if __name__ == '__main__':
    logging.getLogger("asyncio").setLevel(logging.INFO)
    logging.basicConfig(
    level=logging.INFO,
    format='%(threadName)10s %(name)18s: %(message)s',stream=sys.stderr,)

    nest_asyncio.apply()
    
    util.startLoop()
    ib = IB()
    ib.connect('host.docker.internal', 7497, clientId=15)
    

    try:
        while True:
            time.sleep(1)
            item = lpop('hist.queue')
            if item !=None: 
                data = histBar(item['contract'],item['params'])
                if len(data)!=0:
                    p = pickle.dumps(data)
                    with open('t1d.pickle', 'wb') as f:
                        pickle.dump(data,f)
#                     itemr = {**item,**{'pdata':p}}
#                     print(itemr)
                    ProduceB('tester',item,p)
    except Exception as e: 
        print("FATAL: ",e)
    finally:ib.disconnect()

MainThread   ib_insync.client: Connecting to host.docker.internal:7497 with clientId 15...
MainThread   ib_insync.client: Connected
MainThread   ib_insync.client: Logged on to server version 152
MainThread  ib_insync.wrapper: Warning 2104, reqId -1: Market data farm connection is OK:usfuture.nj
MainThread  ib_insync.wrapper: Warning 2104, reqId -1: Market data farm connection is OK:usfuture
MainThread  ib_insync.wrapper: Warning 2104, reqId -1: Market data farm connection is OK:usfarm
MainThread  ib_insync.wrapper: Warning 2106, reqId -1: HMDS data farm connection is OK:ushmds.nj
MainThread  ib_insync.wrapper: Warning 2106, reqId -1: HMDS data farm connection is OK:ushmds
MainThread  ib_insync.wrapper: Warning 2158, reqId -1: Sec-def data farm connection is OK:secdefil
MainThread   ib_insync.client: API connection ready
MainThread       ib_insync.ib: Synchronization complete

starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-23 04:04:30  345.42  345.42  345.42  345.42       1  345.420         1
2020-10-23 04:04:45  345.65  345.65  345.65  345.65      10  345.650         1
2020-10-23 04:05:00  345.80  345.83  345.80  345.83       3  345.810         2
2020-10-23 04:05:15  345.83  345.83  345.83  345.83       0  345.830         0
2020-10-23 04:05:30  345.76  345.76  345.76  345.76       7  345.760         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-23 19:58:45  345.49  345.49  345.49  345.49       3  345.490         1
2020-10-23 19:59:00  345.50  345.50  345.49  345.49      15  345.493         4
2020-10-23 19:59:15  345.50  345.50  345.50  345.50       2  345.500         1
2020-10-23 19:59:30  345.50  345.50  345.50  345.50      19  345.500         3
2020-10-23 19:59:45  345.52  345.55  345.52  345.55      13  345.538         7

[3822 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-23 04:04:30  345.42  345.42  345.42  345.42       1  345.420         1
2020-10-23 04:04:45  345.65  345.65  345.65  345.65      10  345.650         1
2020-10-23 04:05:00  345.80  345.83  345.80  345.83       3  345.810         2
2020-10-23 04:05:15  345.83  345.83  345.83  345.83       0  345.830         0
2020-10-23 04:05:30  345.76  345.76  345.76  345.76       7  345.760         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-23 19:58:45  345.49  345.49  345.49  345.49       3  345.490         1
2020-10-23 19:59:00  345.50  345.50  345.49  345.49      15  345.493         4
2020-10-23 19:59:15  345.50  345.50  345.50  345.50       2  345.500         1
2020-10-23 19:59:30  345.50  345.50  345.50  345.50      19  345.500         3
2020-10-23 19:59:45  345.52  345.55  345.52  345.55      13  345.538         7

[3822 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-23 04:04:30  345.42  345.42  345.42  345.42       1  345.420         1
2020-10-23 04:04:45  345.65  345.65  345.65  345.65      10  345.650         1
2020-10-23 04:05:00  345.80  345.83  345.80  345.83       3  345.810         2
2020-10-23 04:05:15  345.83  345.83  345.83  345.83       0  345.830         0
2020-10-23 04:05:30  345.76  345.76  345.76  345.76       7  345.760         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-23 19:58:45  345.49  345.49  345.49  345.49       3  345.490         1
2020-10-23 19:59:00  345.50  345.50  345.49  345.49      15  345.493         4
2020-10-23 19:59:15  345.50  345.50  345.50  345.50       2  345.500         1
2020-10-23 19:59:30  345.50  345.50  345.50  345.50      19  345.500         3
2020-10-23 19:59:45  345.52  345.55  345.52  345.55      13  345.538         7

[3822 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-23 04:04:30  345.42  345.42  345.42  345.42       1  345.420         1
2020-10-23 04:04:45  345.65  345.65  345.65  345.65      10  345.650         1
2020-10-23 04:05:00  345.80  345.83  345.80  345.83       3  345.810         2
2020-10-23 04:05:15  345.83  345.83  345.83  345.83       0  345.830         0
2020-10-23 04:05:30  345.76  345.76  345.76  345.76       7  345.760         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-23 19:58:45  345.49  345.49  345.49  345.49       3  345.490         1
2020-10-23 19:59:00  345.50  345.50  345.49  345.49      15  345.493         4
2020-10-23 19:59:15  345.50  345.50  345.50  345.50       2  345.500         1
2020-10-23 19:59:30  345.50  345.50  345.50  345.50      19  345.500         3
2020-10-23 19:59:45  345.52  345.55  345.52  345.55      13  345.538         7

[3822 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-23 04:04:30  345.42  345.42  345.42  345.42       1  345.420         1
2020-10-23 04:04:45  345.65  345.65  345.65  345.65      10  345.650         1
2020-10-23 04:05:00  345.80  345.83  345.80  345.83       3  345.810         2
2020-10-23 04:05:15  345.83  345.83  345.83  345.83       0  345.830         0
2020-10-23 04:05:30  345.76  345.76  345.76  345.76       7  345.760         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-23 19:58:45  345.49  345.49  345.49  345.49       3  345.490         1
2020-10-23 19:59:00  345.50  345.50  345.49  345.49      15  345.493         4
2020-10-23 19:59:15  345.50  345.50  345.50  345.50       2  345.500         1
2020-10-23 19:59:30  345.50  345.50  345.50  345.50      19  345.500         3
2020-10-23 19:59:45  345.52  345.55  345.52  345.55      13  345.538         7

[3822 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-23 04:04:30  345.42  345.42  345.42  345.42       1  345.420         1
2020-10-23 04:04:45  345.65  345.65  345.65  345.65      10  345.650         1
2020-10-23 04:05:00  345.80  345.83  345.80  345.83       3  345.810         2
2020-10-23 04:05:15  345.83  345.83  345.83  345.83       0  345.830         0
2020-10-23 04:05:30  345.76  345.76  345.76  345.76       7  345.760         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-23 19:58:45  345.49  345.49  345.49  345.49       3  345.490         1
2020-10-23 19:59:00  345.50  345.50  345.49  345.49      15  345.493         4
2020-10-23 19:59:15  345.50  345.50  345.50  345.50       2  345.500         1
2020-10-23 19:59:30  345.50  345.50  345.50  345.50      19  345.500         3
2020-10-23 19:59:45  345.52  345.55  345.52  345.55      13  345.538         7

[3822 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-23 04:04:30  345.42  345.42  345.42  345.42       1  345.420         1
2020-10-23 04:04:45  345.65  345.65  345.65  345.65      10  345.650         1
2020-10-23 04:05:00  345.80  345.83  345.80  345.83       3  345.810         2
2020-10-23 04:05:15  345.83  345.83  345.83  345.83       0  345.830         0
2020-10-23 04:05:30  345.76  345.76  345.76  345.76       7  345.760         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-23 19:58:45  345.49  345.49  345.49  345.49       3  345.490         1
2020-10-23 19:59:00  345.50  345.50  345.49  345.49      15  345.493         4
2020-10-23 19:59:15  345.50  345.50  345.50  345.50       2  345.500         1
2020-10-23 19:59:30  345.50  345.50  345.50  345.50      19  345.500         3
2020-10-23 19:59:45  345.52  345.55  345.52  345.55      13  345.538         7

[3822 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-23 04:04:30  345.42  345.42  345.42  345.42       1  345.420         1
2020-10-23 04:04:45  345.65  345.65  345.65  345.65      10  345.650         1
2020-10-23 04:05:00  345.80  345.83  345.80  345.83       3  345.810         2
2020-10-23 04:05:15  345.83  345.83  345.83  345.83       0  345.830         0
2020-10-23 04:05:30  345.76  345.76  345.76  345.76       7  345.760         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-23 19:58:45  345.49  345.49  345.49  345.49       3  345.490         1
2020-10-23 19:59:00  345.50  345.50  345.49  345.49      15  345.493         4
2020-10-23 19:59:15  345.50  345.50  345.50  345.50       2  345.500         1
2020-10-23 19:59:30  345.50  345.50  345.50  345.50      19  345.500         3
2020-10-23 19:59:45  345.52  345.55  345.52  345.55      13  345.538         7

[3822 rows x 7 columns]

ended

MainThread  ib_insync.wrapper: Warning 2103, reqId -1: Market data farm connection is broken:usfuture.nj
MainThread  ib_insync.wrapper: Warning 2103, reqId -1: Market data farm connection is broken:usfuture.nj
MainThread  ib_insync.wrapper: Warning 2103, reqId -1: Market data farm connection is broken:usfuture.nj
MainThread  ib_insync.wrapper: Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
MainThread  ib_insync.wrapper: Warning 2103, reqId -1: Market data farm connection is broken:usfuture
MainThread  ib_insync.wrapper: Warning 2103, reqId -1: Market data farm connection is broken:usfarm
MainThread  ib_insync.wrapper: Warning 2157, reqId -1: Sec-def data farm connection is broken:secdefil
MainThread  ib_insync.wrapper: Warning 2105, reqId -1: HMDS data farm connection is broken:ushmds
MainThread  ib_insync.wrapper: Warning 2105, reqId -1: HMDS data farm connection is broken:ushmds.nj
MainThread  ib_insync.wrapper: Warning 2106, reqId -1: HMDS data farm connection is OK:ushmds.nj
MainThread  ib_insync.wrapper: Warning 2106, reqId -1: HMDS data farm connection is OK:ushmds
MainThread  ib_insync.wrapper: Warning 2158, reqId -1: Sec-def data farm connection is OK:secdefil
MainThread  ib_insync.wrapper: Warning 2104, reqId -1: Market data farm connection is OK:usfuture.nj
MainThread  ib_insync.wrapper: Error 1102, reqId -1: Connectivity between IB and Trader Workstation has been restored - data maintained. The following farms are connected: usfuture.nj; ushmds.nj; ushmds; secdefil. The following farms are not connected: usfuture; usfarm.
MainThread  ib_insync.wrapper: Warning 2103, reqId -1: Market data farm connection is broken:usfarm
MainThread  ib_insync.wrapper: Warning 2103, reqId -1: Market data farm connection is broken:usfuture.nj
MainThread  ib_insync.wrapper: Warning 2103, reqId -1: Market data farm connection is broken:usfuture
MainThread  ib_insync.wrapper: Warning 2104, reqId -1: Market data farm connection is OK:usfarm
MainThread  ib_insync.wrapper: Warning 2104, reqId -1: Market data farm connection is OK:usfuture
MainThread  ib_insync.wrapper: Warning 2104, reqId -1: Market data farm connection is OK:usfuture.nj

starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-23 04:04:30  345.42  345.42  345.42  345.42       1  345.420         1
2020-10-23 04:04:45  345.65  345.65  345.65  345.65      10  345.650         1
2020-10-23 04:05:00  345.80  345.83  345.80  345.83       3  345.810         2
2020-10-23 04:05:15  345.83  345.83  345.83  345.83       0  345.830         0
2020-10-23 04:05:30  345.76  345.76  345.76  345.76       7  345.760         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-23 19:58:45  345.49  345.49  345.49  345.49       3  345.490         1
2020-10-23 19:59:00  345.50  345.50  345.49  345.49      15  345.493         4
2020-10-23 19:59:15  345.50  345.50  345.50  345.50       2  345.500         1
2020-10-23 19:59:30  345.50  345.50  345.50  345.50      19  345.500         3
2020-10-23 19:59:45  345.52  345.55  345.52  345.55      13  345.538         7

[3822 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-23 04:04:30  345.42  345.42  345.42  345.42       1  345.420         1
2020-10-23 04:04:45  345.65  345.65  345.65  345.65      10  345.650         1
2020-10-23 04:05:00  345.80  345.83  345.80  345.83       3  345.810         2
2020-10-23 04:05:15  345.83  345.83  345.83  345.83       0  345.830         0
2020-10-23 04:05:30  345.76  345.76  345.76  345.76       7  345.760         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-23 19:58:45  345.49  345.49  345.49  345.49       3  345.490         1
2020-10-23 19:59:00  345.50  345.50  345.49  345.49      15  345.493         4
2020-10-23 19:59:15  345.50  345.50  345.50  345.50       2  345.500         1
2020-10-23 19:59:30  345.50  345.50  345.50  345.50      19  345.500         3
2020-10-23 19:59:45  345.52  345.55  345.52  345.55      13  345.538         7

[3822 rows x 7 columns]

ended

MainThread  ib_insync.wrapper: Warning 2103, reqId -1: Market data farm connection is broken:usfuture.nj
MainThread  ib_insync.wrapper: Warning 2104, reqId -1: Market data farm connection is OK:usfuture.nj

starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-23 04:04:30  345.42  345.42  345.42  345.42       1  345.420         1
2020-10-23 04:04:45  345.65  345.65  345.65  345.65      10  345.650         1
2020-10-23 04:05:00  345.80  345.83  345.80  345.83       3  345.810         2
2020-10-23 04:05:15  345.83  345.83  345.83  345.83       0  345.830         0
2020-10-23 04:05:30  345.76  345.76  345.76  345.76       7  345.760         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-23 19:58:45  345.49  345.49  345.49  345.49       3  345.490         1
2020-10-23 19:59:00  345.50  345.50  345.49  345.49      15  345.493         4
2020-10-23 19:59:15  345.50  345.50  345.50  345.50       2  345.500         1
2020-10-23 19:59:30  345.50  345.50  345.50  345.50      19  345.500         3
2020-10-23 19:59:45  345.52  345.55  345.52  345.55      13  345.538         7

[3822 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-23 04:04:30  345.42  345.42  345.42  345.42       1  345.420         1
2020-10-23 04:04:45  345.65  345.65  345.65  345.65      10  345.650         1
2020-10-23 04:05:00  345.80  345.83  345.80  345.83       3  345.810         2
2020-10-23 04:05:15  345.83  345.83  345.83  345.83       0  345.830         0
2020-10-23 04:05:30  345.76  345.76  345.76  345.76       7  345.760         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-23 19:58:45  345.49  345.49  345.49  345.49       3  345.490         1
2020-10-23 19:59:00  345.50  345.50  345.49  345.49      15  345.493         4
2020-10-23 19:59:15  345.50  345.50  345.50  345.50       2  345.500         1
2020-10-23 19:59:30  345.50  345.50  345.50  345.50      19  345.500         3
2020-10-23 19:59:45  345.52  345.55  345.52  345.55      13  345.538         7

[3822 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-23 04:04:30  345.42  345.42  345.42  345.42       1  345.420         1
2020-10-23 04:04:45  345.65  345.65  345.65  345.65      10  345.650         1
2020-10-23 04:05:00  345.80  345.83  345.80  345.83       3  345.810         2
2020-10-23 04:05:15  345.83  345.83  345.83  345.83       0  345.830         0
2020-10-23 04:05:30  345.76  345.76  345.76  345.76       7  345.760         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-23 19:58:45  345.49  345.49  345.49  345.49       3  345.490         1
2020-10-23 19:59:00  345.50  345.50  345.49  345.49      15  345.493         4
2020-10-23 19:59:15  345.50  345.50  345.50  345.50       2  345.500         1
2020-10-23 19:59:30  345.50  345.50  345.50  345.50      19  345.500         3
2020-10-23 19:59:45  345.52  345.55  345.52  345.55      13  345.538         7

[3822 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-23 04:04:30  345.42  345.42  345.42  345.42       1  345.420         1
2020-10-23 04:04:45  345.65  345.65  345.65  345.65      10  345.650         1
2020-10-23 04:05:00  345.80  345.83  345.80  345.83       3  345.810         2
2020-10-23 04:05:15  345.83  345.83  345.83  345.83       0  345.830         0
2020-10-23 04:05:30  345.76  345.76  345.76  345.76       7  345.760         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-23 19:58:45  345.49  345.49  345.49  345.49       3  345.490         1
2020-10-23 19:59:00  345.50  345.50  345.49  345.49      15  345.493         4
2020-10-23 19:59:15  345.50  345.50  345.50  345.50       2  345.500         1
2020-10-23 19:59:30  345.50  345.50  345.50  345.50      19  345.500         3
2020-10-23 19:59:45  345.52  345.55  345.52  345.55      13  345.538         7

[3822 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-23 04:04:30  345.42  345.42  345.42  345.42       1  345.420         1
2020-10-23 04:04:45  345.65  345.65  345.65  345.65      10  345.650         1
2020-10-23 04:05:00  345.80  345.83  345.80  345.83       3  345.810         2
2020-10-23 04:05:15  345.83  345.83  345.83  345.83       0  345.830         0
2020-10-23 04:05:30  345.76  345.76  345.76  345.76       7  345.760         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-23 19:58:45  345.49  345.49  345.49  345.49       3  345.490         1
2020-10-23 19:59:00  345.50  345.50  345.49  345.49      15  345.493         4
2020-10-23 19:59:15  345.50  345.50  345.50  345.50       2  345.500         1
2020-10-23 19:59:30  345.50  345.50  345.50  345.50      19  345.500         3
2020-10-23 19:59:45  345.52  345.55  345.52  345.55      13  345.538         7

[3822 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-23 04:04:30  345.42  345.42  345.42  345.42       1  345.420         1
2020-10-23 04:04:45  345.65  345.65  345.65  345.65      10  345.650         1
2020-10-23 04:05:00  345.80  345.83  345.80  345.83       3  345.810         2
2020-10-23 04:05:15  345.83  345.83  345.83  345.83       0  345.830         0
2020-10-23 04:05:30  345.76  345.76  345.76  345.76       7  345.760         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-23 19:58:45  345.49  345.49  345.49  345.49       3  345.490         1
2020-10-23 19:59:00  345.50  345.50  345.49  345.49      15  345.493         4
2020-10-23 19:59:15  345.50  345.50  345.50  345.50       2  345.500         1
2020-10-23 19:59:30  345.50  345.50  345.50  345.50      19  345.500         3
2020-10-23 19:59:45  345.52  345.55  345.52  345.55      13  345.538         7

[3822 rows x 7 columns]

ended

MainThread  ib_insync.wrapper: Warning 2157, reqId -1: Sec-def data farm connection is broken:secdefil
MainThread  ib_insync.wrapper: Warning 2157, reqId -1: Sec-def data farm connection is broken:secdefil
MainThread  ib_insync.wrapper: Warning 2158, reqId -1: Sec-def data farm connection is OK:secdefil
MainThread  ib_insync.wrapper: Warning 2103, reqId -1: Market data farm connection is broken:usfarm
MainThread  ib_insync.wrapper: Warning 2103, reqId -1: Market data farm connection is broken:usfarm
MainThread  ib_insync.wrapper: Warning 2104, reqId -1: Market data farm connection is OK:usfarm
MainThread  ib_insync.wrapper: Warning 2105, reqId -1: HMDS data farm connection is broken:ushmds
MainThread  ib_insync.wrapper: Warning 2106, reqId -1: HMDS data farm connection is OK:ushmds
MainThread  ib_insync.wrapper: Warning 2105, reqId -1: HMDS data farm connection is broken:ushmds
MainThread  ib_insync.wrapper: Warning 2105, reqId -1: HMDS data farm connection is broken:ushmds.nj
MainThread  ib_insync.wrapper: Warning 2106, reqId -1: HMDS data farm connection is OK:ushmds.nj
MainThread  ib_insync.wrapper: Warning 2105, reqId -1: HMDS data farm connection is broken:ushmds
MainThread  ib_insync.wrapper: Warning 2105, reqId -1: HMDS data farm connection is broken:ushmds
MainThread  ib_insync.wrapper: Warning 2105, reqId -1: HMDS data farm connection is broken:ushmds
MainThread  ib_insync.wrapper: Warning 2105, reqId -1: HMDS data farm connection is broken:ushmds
MainThread  ib_insync.wrapper: Warning 2105, reqId -1: HMDS data farm connection is broken:ushmds.nj
MainThread  ib_insync.wrapper: Warning 2106, reqId -1: HMDS data farm connection is OK:ushmds.nj
MainThread  ib_insync.wrapper: Warning 2103, reqId -1: Market data farm connection is broken:usfarm
MainThread  ib_insync.wrapper: Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
MainThread  ib_insync.wrapper: Warning 2103, reqId -1: Market data farm connection is broken:usfarm
MainThread  ib_insync.wrapper: Warning 2106, reqId -1: HMDS data farm connection is OK:ushmds
MainThread  ib_insync.wrapper: Error 1102, reqId -1: Connectivity between IB and Trader Workstation has been restored - data maintained. The following farms are connected: usfuture.nj; usfuture; ushmds.nj; ushmds; secdefil. The following farms are not connected: usfarm.
MainThread  ib_insync.wrapper: Warning 2104, reqId -1: Market data farm connection is OK:usfarm
MainThread  ib_insync.wrapper: Warning 2108, reqId -1: Market data farm connection is inactive but should be available upon demand.usfuture.nj
MainThread  ib_insync.wrapper: Warning 2108, reqId -1: Market data farm connection is inactive but should be available upon demand.usfuture.nj

starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-01 04:00:00  337.66  337.66  337.64  337.64      17  337.658         2
2020-10-01 04:00:15  337.78  337.78  337.75  337.75       3  337.770         2
2020-10-01 04:00:30  337.64  337.68  337.64  337.68      11  337.670         5
2020-10-01 04:00:45  337.68  337.68  337.68  337.68       0  337.680         0
2020-10-01 04:01:00  337.56  337.56  337.56  337.56       1  337.560         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-01 19:58:45  336.67  336.67  336.67  336.67       1  336.670         1
2020-10-01 19:59:00  336.67  336.67  336.67  336.67       3  336.670         1
2020-10-01 19:59:15  336.72  336.72  336.66  336.68      32  336.670         4
2020-10-01 19:59:30  336.68  336.68  336.68  336.68       1  336.680         1
2020-10-01 19:59:45  336.72  336.77  336.72  336.77      52  336.748         8

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-02 04:00:00  332.89  332.89  332.52  332.65      79  332.823        14
2020-10-02 04:00:15  332.83  332.94  332.83  332.94      13  332.901         7
2020-10-02 04:00:30  332.92  332.92  332.85  332.85      14  332.895         4
2020-10-02 04:00:45  332.85  332.85  332.85  332.85       0  332.850         0
2020-10-02 04:01:00  332.90  332.90  332.90  332.90       1  332.900         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-02 19:58:45  332.73  332.73  332.73  332.73       0  332.730         0
2020-10-02 19:59:00  332.65  332.70  332.65  332.70       2  332.677         2
2020-10-02 19:59:15  332.55  332.75  332.55  332.55      49  332.689        13
2020-10-02 19:59:30  332.55  332.64  332.55  332.64       4  332.572         2
2020-10-02 19:59:45  332.53  332.64  332.44  332.64      12  332.519         8

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-02 04:00:00  332.89  332.89  332.52  332.65      79  332.823        14
2020-10-02 04:00:15  332.83  332.94  332.83  332.94      13  332.901         7
2020-10-02 04:00:30  332.92  332.92  332.85  332.85      14  332.895         4
2020-10-02 04:00:45  332.85  332.85  332.85  332.85       0  332.850         0
2020-10-02 04:01:00  332.90  332.90  332.90  332.90       1  332.900         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-02 19:58:45  332.73  332.73  332.73  332.73       0  332.730         0
2020-10-02 19:59:00  332.65  332.70  332.65  332.70       2  332.677         2
2020-10-02 19:59:15  332.55  332.75  332.55  332.55      49  332.689        13
2020-10-02 19:59:30  332.55  332.64  332.55  332.64       4  332.572         2
2020-10-02 19:59:45  332.53  332.64  332.44  332.64      12  332.519         8

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-02 04:00:00  332.89  332.89  332.52  332.65      79  332.823        14
2020-10-02 04:00:15  332.83  332.94  332.83  332.94      13  332.901         7
2020-10-02 04:00:30  332.92  332.92  332.85  332.85      14  332.895         4
2020-10-02 04:00:45  332.85  332.85  332.85  332.85       0  332.850         0
2020-10-02 04:01:00  332.90  332.90  332.90  332.90       1  332.900         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-02 19:58:45  332.73  332.73  332.73  332.73       0  332.730         0
2020-10-02 19:59:00  332.65  332.70  332.65  332.70       2  332.677         2
2020-10-02 19:59:15  332.55  332.75  332.55  332.55      49  332.689        13
2020-10-02 19:59:30  332.55  332.64  332.55  332.64       4  332.572         2
2020-10-02 19:59:45  332.53  332.64  332.44  332.64      12  332.519         8

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-05 04:00:00  335.19  335.19  335.02  335.19     111  335.151        22
2020-10-05 04:00:15  335.17  335.17  335.17  335.17       6  335.170         2
2020-10-05 04:00:30  335.17  335.17  335.17  335.17       0  335.170         0
2020-10-05 04:00:45  335.25  335.25  335.25  335.25       8  335.250         1
2020-10-05 04:01:00  335.38  335.44  335.38  335.44      10  335.397         4
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-05 19:58:45  338.88  338.88  338.88  338.88       0  338.880         0
2020-10-05 19:59:00  338.88  338.92  338.88  338.92      14  338.900         4
2020-10-05 19:59:15  338.90  338.92  338.84  338.84     103  338.861        17
2020-10-05 19:59:30  338.84  338.84  338.84  338.84       0  338.840         0
2020-10-05 19:59:45  338.84  338.84  338.84  338.84       0  338.840         0

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-06 04:00:00  338.75  338.75  338.70  338.70      26  338.731         2
2020-10-06 04:00:15  338.79  338.79  338.79  338.79       3  338.790         3
2020-10-06 04:00:30  338.79  338.79  338.78  338.78       2  338.785         2
2020-10-06 04:00:45  338.77  338.78  338.75  338.77      23  338.774         7
2020-10-06 04:01:00  338.77  338.77  338.77  338.77       0  338.770         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-06 19:58:45  334.67  334.67  334.66  334.67      36  334.667        10
2020-10-06 19:59:00  334.65  334.67  334.65  334.65      25  334.654         8
2020-10-06 19:59:15  334.65  334.65  334.65  334.65      10  334.650         7
2020-10-06 19:59:30  334.62  334.62  334.60  334.62      20  334.616        14
2020-10-06 19:59:45  334.54  334.62  334.54  334.62      28  334.553         8

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-07 04:00:00  337.35  337.41  337.35  337.41      33  337.359         2
2020-10-07 04:00:15  337.33  337.45  337.33  337.45      14  337.374         4
2020-10-07 04:00:30  337.40  337.45  337.40  337.45      13  337.422         2
2020-10-07 04:00:45  337.45  337.45  337.45  337.45       0  337.450         0
2020-10-07 04:01:00  337.32  337.32  337.32  337.32       8  337.320         4
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-07 19:58:45  341.44  341.45  341.44  341.45      11  341.441         9
2020-10-07 19:59:00  341.42  341.42  341.42  341.42       2  341.420         1
2020-10-07 19:59:15  341.42  341.42  341.41  341.41      13  341.414         6
2020-10-07 19:59:30  341.42  341.42  341.42  341.42       1  341.420         1
2020-10-07 19:59:45  341.42  341.42  341.42  341.42       0  341.420         0

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-08 04:00:00  342.70  342.70  342.55  342.55      32  342.688         3
2020-10-08 04:00:15  342.55  342.55  342.55  342.55       0  342.550         0
2020-10-08 04:00:30  342.55  342.55  342.55  342.55       0  342.550         0
2020-10-08 04:00:45  342.55  342.55  342.55  342.55       0  342.550         0
2020-10-08 04:01:00  342.55  342.55  342.55  342.55       0  342.550         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-08 19:58:45  345.30  345.30  345.26  345.26      41  345.298        13
2020-10-08 19:59:00  345.28  345.30  345.28  345.30      32  345.288         9
2020-10-08 19:59:15  345.27  345.27  345.27  345.27       6  345.270         3
2020-10-08 19:59:30  345.29  345.30  345.29  345.29     112  345.298        52
2020-10-08 19:59:45  345.29  345.30  345.26  345.26      67  345.275        22

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-09 04:00:00  345.00  345.00  344.91  344.93      36  344.939        16
2020-10-09 04:00:15  344.95  344.95  344.95  344.95       6  344.950         2
2020-10-09 04:00:30  344.95  344.95  344.95  344.95       0  344.950         0
2020-10-09 04:00:45  345.05  345.08  345.04  345.05      15  345.053         6
2020-10-09 04:01:00  345.10  345.10  345.10  345.10      30  345.100         6
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-09 19:58:45  347.15  347.15  347.15  347.15       0  347.150         0
2020-10-09 19:59:00  347.27  347.27  347.27  347.27      12  347.270         2
2020-10-09 19:59:15  347.27  347.27  347.27  347.27       1  347.270         1
2020-10-09 19:59:30  347.27  347.27  347.27  347.27       0  347.270         0
2020-10-09 19:59:45  347.25  347.25  347.25  347.25       2  347.250         1

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-09 04:00:00  345.00  345.00  344.91  344.93      36  344.939        16
2020-10-09 04:00:15  344.95  344.95  344.95  344.95       6  344.950         2
2020-10-09 04:00:30  344.95  344.95  344.95  344.95       0  344.950         0
2020-10-09 04:00:45  345.05  345.08  345.04  345.05      15  345.053         6
2020-10-09 04:01:00  345.10  345.10  345.10  345.10      30  345.100         6
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-09 19:58:45  347.15  347.15  347.15  347.15       0  347.150         0
2020-10-09 19:59:00  347.27  347.27  347.27  347.27      12  347.270         2
2020-10-09 19:59:15  347.27  347.27  347.27  347.27       1  347.270         1
2020-10-09 19:59:30  347.27  347.27  347.27  347.27       0  347.270         0
2020-10-09 19:59:45  347.25  347.25  347.25  347.25       2  347.250         1

[3840 rows x 7 columns]

ended
starting

MainThread  ib_insync.wrapper: Warning 2103, reqId -1: Market data farm connection is broken:usfarm
MainThread  ib_insync.wrapper: Warning 2104, reqId -1: Market data farm connection is OK:usfarm

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-09 04:00:00  345.00  345.00  344.91  344.93      36  344.939        16
2020-10-09 04:00:15  344.95  344.95  344.95  344.95       6  344.950         2
2020-10-09 04:00:30  344.95  344.95  344.95  344.95       0  344.950         0
2020-10-09 04:00:45  345.05  345.08  345.04  345.05      15  345.053         6
2020-10-09 04:01:00  345.10  345.10  345.10  345.10      30  345.100         6
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-09 19:58:45  347.15  347.15  347.15  347.15       0  347.150         0
2020-10-09 19:59:00  347.27  347.27  347.27  347.27      12  347.270         2
2020-10-09 19:59:15  347.27  347.27  347.27  347.27       1  347.270         1
2020-10-09 19:59:30  347.27  347.27  347.27  347.27       0  347.270         0
2020-10-09 19:59:45  347.25  347.25  347.25  347.25       2  347.250         1

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-12 04:00:00  347.97  347.97  347.97  347.97       3  347.970         1
2020-10-12 04:00:15  347.97  347.97  347.97  347.97       0  347.970         0
2020-10-12 04:00:30  347.97  347.97  347.97  347.97       0  347.970         0
2020-10-12 04:00:45  347.99  347.99  347.99  347.99       1  347.990         1
2020-10-12 04:01:00  347.99  347.99  347.99  347.99       1  347.990         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-12 19:58:45  353.11  353.11  353.11  353.11      10  353.110         2
2020-10-12 19:59:00  353.10  353.10  353.09  353.09       3  353.094         2
2020-10-12 19:59:15  353.08  353.09  353.08  353.09      11  353.086         3
2020-10-12 19:59:30  353.06  353.06  353.06  353.06      10  353.060         6
2020-10-12 19:59:45  353.06  353.06  353.03  353.04      35  353.055        14

[3840 rows x 7 columns]

ended
starting

MainThread  ib_insync.wrapper: Warning 2103, reqId -1: Market data farm connection is broken:usfarm
MainThread  ib_insync.wrapper: Warning 2104, reqId -1: Market data farm connection is OK:usfarm

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-13 04:00:00  351.21  351.31  351.21  351.31      12  351.231         3
2020-10-13 04:00:15  351.31  351.31  351.31  351.31       0  351.310         0
2020-10-13 04:00:30  351.31  351.31  351.31  351.31       0  351.310         0
2020-10-13 04:00:45  351.42  351.42  351.42  351.42       2  351.420         2
2020-10-13 04:01:00  351.39  351.41  351.37  351.37      10  351.402         5
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-13 19:58:45  350.78  350.78  350.78  350.78       0  350.780         0
2020-10-13 19:59:00  350.78  350.78  350.78  350.78       0  350.780         0
2020-10-13 19:59:15  350.78  350.78  350.78  350.78       0  350.780         0
2020-10-13 19:59:30  350.75  350.75  350.75  350.75       1  350.750         1
2020-10-13 19:59:45  350.75  350.77  350.75  350.77      17  350.763        10

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-14 04:00:00  351.60  351.60  351.60  351.60       3  351.600         1
2020-10-14 04:00:15  351.60  351.60  351.60  351.60       0  351.600         0
2020-10-14 04:00:30  351.60  351.60  351.60  351.60       0  351.600         0
2020-10-14 04:00:45  351.60  351.60  351.60  351.60       0  351.600         0
2020-10-14 04:01:00  351.60  351.60  351.60  351.60       4  351.600         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-14 19:58:45  348.33  348.33  348.33  348.33       3  348.330         2
2020-10-14 19:59:00  348.35  348.35  348.35  348.35       1  348.350         1
2020-10-14 19:59:15  348.35  348.35  348.35  348.35       2  348.350         1
2020-10-14 19:59:30  348.35  348.35  348.35  348.35       0  348.350         0
2020-10-14 19:59:45  348.37  348.37  348.35  348.37       7  348.361         5

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-15 04:00:00  346.34  346.34  346.33  346.33      16  346.339         2
2020-10-15 04:00:15  346.25  346.25  346.25  346.25       2  346.250         1
2020-10-15 04:00:30  346.25  346.25  346.25  346.25       0  346.250         0
2020-10-15 04:00:45  346.16  346.16  346.16  346.16       3  346.160         1
2020-10-15 04:01:00  346.12  346.12  346.12  346.12      25  346.120         8
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-15 19:58:45  348.28  348.28  348.25  348.26      27  348.273         8
2020-10-15 19:59:00  348.26  348.26  348.26  348.26       0  348.260         0
2020-10-15 19:59:15  348.28  348.28  348.28  348.28      11  348.280         4
2020-10-15 19:59:30  348.26  348.30  348.25  348.30       8  348.273         3
2020-10-15 19:59:45  348.30  348.30  348.30  348.30       9  348.300         6

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-16 04:00:00  347.55  347.55  347.55  347.55      14  347.550         1
2020-10-16 04:00:15  347.55  347.55  347.55  347.55       0  347.550         0
2020-10-16 04:00:30  347.55  347.55  347.55  347.55       0  347.550         0
2020-10-16 04:00:45  347.66  347.66  347.66  347.66       7  347.660         1
2020-10-16 04:01:00  347.66  347.66  347.66  347.66       0  347.660         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-16 19:58:45  346.45  346.45  346.45  346.45       3  346.450         1
2020-10-16 19:59:00  346.44  346.44  346.44  346.44       1  346.440         1
2020-10-16 19:59:15  346.44  346.45  346.44  346.45      16  346.449         4
2020-10-16 19:59:30  346.41  346.41  346.39  346.39       4  346.396         2
2020-10-16 19:59:45  346.39  346.39  346.21  346.21      11  346.283         4

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-16 04:00:00  347.55  347.55  347.55  347.55      14  347.550         1
2020-10-16 04:00:15  347.55  347.55  347.55  347.55       0  347.550         0
2020-10-16 04:00:30  347.55  347.55  347.55  347.55       0  347.550         0
2020-10-16 04:00:45  347.66  347.66  347.66  347.66       7  347.660         1
2020-10-16 04:01:00  347.66  347.66  347.66  347.66       0  347.660         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-16 19:58:45  346.45  346.45  346.45  346.45       3  346.450         1
2020-10-16 19:59:00  346.44  346.44  346.44  346.44       1  346.440         1
2020-10-16 19:59:15  346.44  346.45  346.44  346.45      16  346.449         4
2020-10-16 19:59:30  346.41  346.41  346.39  346.39       4  346.396         2
2020-10-16 19:59:45  346.39  346.39  346.21  346.21      11  346.283         4

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-16 04:00:00  347.55  347.55  347.55  347.55      14  347.550         1
2020-10-16 04:00:15  347.55  347.55  347.55  347.55       0  347.550         0
2020-10-16 04:00:30  347.55  347.55  347.55  347.55       0  347.550         0
2020-10-16 04:00:45  347.66  347.66  347.66  347.66       7  347.660         1
2020-10-16 04:01:00  347.66  347.66  347.66  347.66       0  347.660         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-16 19:58:45  346.45  346.45  346.45  346.45       3  346.450         1
2020-10-16 19:59:00  346.44  346.44  346.44  346.44       1  346.440         1
2020-10-16 19:59:15  346.44  346.45  346.44  346.45      16  346.449         4
2020-10-16 19:59:30  346.41  346.41  346.39  346.39       4  346.396         2
2020-10-16 19:59:45  346.39  346.39  346.21  346.21      11  346.283         4

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-19 04:00:00  348.60  348.82  348.60  348.82     136  348.607         3
2020-10-19 04:00:15  348.82  348.82  348.82  348.82       0  348.820         0
2020-10-19 04:00:30  348.82  348.82  348.82  348.82       9  348.820         3
2020-10-19 04:00:45  348.84  348.93  348.84  348.93      13  348.902         5
2020-10-19 04:01:00  348.93  348.93  348.93  348.93       0  348.930         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-19 19:58:45  343.91  343.91  343.91  343.91       0  343.910         0
2020-10-19 19:59:00  343.92  343.92  343.91  343.91       3  343.914         2
2020-10-19 19:59:15  343.91  343.91  343.91  343.91       4  343.910         2
2020-10-19 19:59:30  343.90  343.90  343.90  343.90       8  343.900         2
2020-10-19 19:59:45  343.88  343.88  343.88  343.88       4  343.880         3

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-20 04:00:00  344.10  344.10  344.10  344.10       1  344.100         1
2020-10-20 04:00:15  344.10  344.10  344.10  344.10       0  344.100         0
2020-10-20 04:00:30  344.10  344.10  344.10  344.10       1  344.100         1
2020-10-20 04:00:45  344.12  344.12  344.12  344.12       2  344.120         1
2020-10-20 04:01:00  344.12  344.12  344.12  344.12       0  344.120         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-20 19:58:45  344.39  344.39  344.38  344.38      16  344.383         7
2020-10-20 19:59:00  344.38  344.38  344.38  344.38       3  344.380         3
2020-10-20 19:59:15  344.38  344.41  344.38  344.39      18  344.387        13
2020-10-20 19:59:30  344.43  344.43  344.42  344.42       4  344.427         3
2020-10-20 19:59:45  344.43  344.43  344.39  344.39      14  344.404         6

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-21 04:00:30  343.93  343.93  343.93  343.93       1  343.930         1
2020-10-21 04:00:45  343.93  343.93  343.93  343.93       0  343.930         0
2020-10-21 04:01:00  343.93  343.93  343.93  343.93       1  343.930         1
2020-10-21 04:01:15  343.93  343.93  343.93  343.93       0  343.930         0
2020-10-21 04:01:30  343.93  343.93  343.93  343.93       0  343.930         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-21 19:58:45  341.34  341.34  341.34  341.34       3  341.340         1
2020-10-21 19:59:00  341.37  341.37  341.36  341.37      15  341.368         6
2020-10-21 19:59:15  341.40  341.42  341.40  341.42      12  341.411         5
2020-10-21 19:59:30  341.42  341.42  341.37  341.39      15  341.388         9
2020-10-21 19:59:45  341.33  341.40  341.33  341.34      63  341.386        20

[3838 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-22 04:00:00  341.94  341.94  341.94  341.94       1  341.940         1
2020-10-22 04:00:15  341.94  341.94  341.94  341.94       0  341.940         0
2020-10-22 04:00:30  341.94  341.94  341.94  341.94       0  341.940         0
2020-10-22 04:00:45  341.94  341.94  341.94  341.94       0  341.940         0
2020-10-22 04:01:00  341.94  341.94  341.94  341.94       0  341.940         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-22 19:58:45  345.10  345.10  345.10  345.10       3  345.100         2
2020-10-22 19:59:00  345.09  345.11  345.09  345.11       3  345.097         3
2020-10-22 19:59:15  345.12  345.12  345.12  345.12      10  345.120         2
2020-10-22 19:59:30  345.12  345.12  345.12  345.12       4  345.120         1
2020-10-22 19:59:45  345.12  345.14  345.10  345.10      19  345.133         8

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-23 04:04:30  345.42  345.42  345.42  345.42       1  345.420         1
2020-10-23 04:04:45  345.65  345.65  345.65  345.65      10  345.650         1
2020-10-23 04:05:00  345.80  345.83  345.80  345.83       3  345.810         2
2020-10-23 04:05:15  345.83  345.83  345.83  345.83       0  345.830         0
2020-10-23 04:05:30  345.76  345.76  345.76  345.76       7  345.760         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-23 19:58:45  345.49  345.49  345.49  345.49       3  345.490         1
2020-10-23 19:59:00  345.50  345.50  345.49  345.49      15  345.493         4
2020-10-23 19:59:15  345.50  345.50  345.50  345.50       2  345.500         1
2020-10-23 19:59:30  345.50  345.50  345.50  345.50      19  345.500         3
2020-10-23 19:59:45  345.52  345.55  345.52  345.55      13  345.538         7

[3822 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-23 04:04:30  345.42  345.42  345.42  345.42       1  345.420         1
2020-10-23 04:04:45  345.65  345.65  345.65  345.65      10  345.650         1
2020-10-23 04:05:00  345.80  345.83  345.80  345.83       3  345.810         2
2020-10-23 04:05:15  345.83  345.83  345.83  345.83       0  345.830         0
2020-10-23 04:05:30  345.76  345.76  345.76  345.76       7  345.760         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-23 19:58:45  345.49  345.49  345.49  345.49       3  345.490         1
2020-10-23 19:59:00  345.50  345.50  345.49  345.49      15  345.493         4
2020-10-23 19:59:15  345.50  345.50  345.50  345.50       2  345.500         1
2020-10-23 19:59:30  345.50  345.50  345.50  345.50      19  345.500         3
2020-10-23 19:59:45  345.52  345.55  345.52  345.55      13  345.538         7

[3822 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-23 04:04:30  345.42  345.42  345.42  345.42       1  345.420         1
2020-10-23 04:04:45  345.65  345.65  345.65  345.65      10  345.650         1
2020-10-23 04:05:00  345.80  345.83  345.80  345.83       3  345.810         2
2020-10-23 04:05:15  345.83  345.83  345.83  345.83       0  345.830         0
2020-10-23 04:05:30  345.76  345.76  345.76  345.76       7  345.760         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-23 19:58:45  345.49  345.49  345.49  345.49       3  345.490         1
2020-10-23 19:59:00  345.50  345.50  345.49  345.49      15  345.493         4
2020-10-23 19:59:15  345.50  345.50  345.50  345.50       2  345.500         1
2020-10-23 19:59:30  345.50  345.50  345.50  345.50      19  345.500         3
2020-10-23 19:59:45  345.52  345.55  345.52  345.55      13  345.538         7

[3822 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-26 04:00:00  341.55  341.55  341.42  341.43      56  341.535         7
2020-10-26 04:00:15  341.49  341.49  341.43  341.43      43  341.435         6
2020-10-26 04:00:30  341.49  341.49  341.45  341.45       5  341.470         3
2020-10-26 04:00:45  341.45  341.49  341.45  341.49      28  341.489         4
2020-10-26 04:01:00  341.49  341.49  341.49  341.49       3  341.490         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-26 19:58:45  339.21  339.21  339.20  339.20      15  339.206         5
2020-10-26 19:59:00  339.27  339.27  339.16  339.16       9  339.178         4
2020-10-26 19:59:15  339.19  339.19  339.19  339.19       1  339.190         1
2020-10-26 19:59:30  339.25  339.31  339.25  339.29       4  339.280         4
2020-10-26 19:59:45  339.29  339.29  339.27  339.29       8  339.285         4

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-27 04:00:00  340.42  340.42  340.42  340.42      25  340.420         1
2020-10-27 04:00:15  340.42  340.42  340.42  340.42       0  340.420         0
2020-10-27 04:00:30  340.42  340.42  340.42  340.42       0  340.420         0
2020-10-27 04:00:45  340.37  340.37  340.37  340.37       1  340.370         1
2020-10-27 04:01:00  340.37  340.37  340.37  340.37       0  340.370         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-27 19:58:45  336.60  336.60  336.60  336.60       1  336.600         1
2020-10-27 19:59:00  336.60  336.64  336.60  336.64      17  336.615         8
2020-10-27 19:59:15  336.60  336.60  336.60  336.60       8  336.600         7
2020-10-27 19:59:30  336.57  336.58  336.57  336.58       4  336.575         3
2020-10-27 19:59:45  336.57  336.58  336.55  336.55      21  336.563         7

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-28 04:00:00  335.27  335.27  335.27  335.27       9  335.270         1
2020-10-28 04:00:15  335.27  335.27  335.27  335.27       0  335.270         0
2020-10-28 04:00:30  335.49  335.57  335.49  335.57       4  335.550         2
2020-10-28 04:00:45  335.49  335.49  335.49  335.49       1  335.490         1
2020-10-28 04:01:00  335.49  335.49  335.49  335.49       0  335.490         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-28 19:58:45  328.17  328.17  328.17  328.17      17  328.170         6
2020-10-28 19:59:00  328.17  328.17  328.17  328.17       0  328.170         0
2020-10-28 19:59:15  328.27  328.27  328.17  328.17       5  328.230         4
2020-10-28 19:59:30  328.17  328.17  328.17  328.17       0  328.170         0
2020-10-28 19:59:45  328.21  328.22  328.16  328.22      31  328.208         9

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-29 04:00:00  329.16  329.16  329.11  329.11      12  329.152         2
2020-10-29 04:00:15  329.23  329.31  329.23  329.26      38  329.249        10
2020-10-29 04:00:30  329.36  329.41  329.36  329.40      70  329.404         8
2020-10-29 04:00:45  329.41  329.41  329.38  329.38       7  329.406         5
2020-10-29 04:01:00  329.48  329.48  329.42  329.42       8  329.442         2
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-29 19:58:45  327.75  327.75  327.73  327.73       2  327.738         2
2020-10-29 19:59:00  327.73  327.73  327.70  327.70      12  327.707         4
2020-10-29 19:59:15  327.73  327.80  327.73  327.80      32  327.775         8
2020-10-29 19:59:30  327.70  327.70  327.70  327.70       5  327.700         5
2020-10-29 19:59:45  327.65  327.65  327.65  327.65      32  327.650         8

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-30 04:00:00  324.41  324.41  324.41  324.41      36  324.410         1
2020-10-30 04:00:15  324.53  324.58  324.53  324.57      51  324.555        14
2020-10-30 04:00:30  324.57  324.57  324.57  324.57       0  324.570         0
2020-10-30 04:00:45  324.60  324.60  324.60  324.60      15  324.600         1
2020-10-30 04:01:00  324.59  324.59  324.59  324.59       1  324.590         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-30 19:58:45  327.35  327.38  327.35  327.38       3  327.370         3
2020-10-30 19:59:00  327.39  327.40  327.39  327.40       4  327.396         2
2020-10-30 19:59:15  327.40  327.40  327.40  327.40       6  327.400         3
2020-10-30 19:59:30  327.40  327.40  327.40  327.40       3  327.400         1
2020-10-30 19:59:45  327.40  327.40  327.30  327.30      14  327.390         4

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-10-30 04:00:00  324.41  324.41  324.41  324.41      36  324.410         1
2020-10-30 04:00:15  324.53  324.58  324.53  324.57      51  324.555        14
2020-10-30 04:00:30  324.57  324.57  324.57  324.57       0  324.570         0
2020-10-30 04:00:45  324.60  324.60  324.60  324.60      15  324.600         1
2020-10-30 04:01:00  324.59  324.59  324.59  324.59       1  324.590         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-10-30 19:58:45  327.35  327.38  327.35  327.38       3  327.370         3
2020-10-30 19:59:00  327.39  327.40  327.39  327.40       4  327.396         2
2020-10-30 19:59:15  327.40  327.40  327.40  327.40       6  327.400         3
2020-10-30 19:59:30  327.40  327.40  327.40  327.40       3  327.400         1
2020-10-30 19:59:45  327.40  327.40  327.30  327.30      14  327.390         4

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-09-01 04:00:00  351.27  351.34  351.27  351.34      96  351.271         2
2020-09-01 04:00:15  351.34  351.34  351.34  351.34       0  351.340         0
2020-09-01 04:00:30  351.29  351.30  351.29  351.30      23  351.291         2
2020-09-01 04:00:45  351.30  351.30  351.30  351.30       0  351.300         0
2020-09-01 04:01:00  351.30  351.30  351.30  351.30       0  351.300         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-09-01 19:58:45  353.57  353.57  353.57  353.57       5  353.570         1
2020-09-01 19:59:00  353.57  353.57  353.57  353.57       1  353.570         1
2020-09-01 19:59:15  353.58  353.58  353.58  353.58       6  353.580         1
2020-09-01 19:59:30  353.58  353.58  353.58  353.58       2  353.580         1
2020-09-01 19:59:45  353.55  353.57  353.55  353.57       5  353.561         3

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-09-02 04:00:00  354.51  354.51  354.45  354.45      14  354.484         4
2020-09-02 04:00:15  354.56  354.56  354.56  354.56       1  354.560         1
2020-09-02 04:00:30  354.56  354.56  354.56  354.56       0  354.560         0
2020-09-02 04:00:45  354.56  354.56  354.56  354.56       0  354.560         0
2020-09-02 04:01:00  354.62  354.62  354.62  354.62       1  354.620         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-09-02 19:58:45  358.40  358.43  358.40  358.43      10  358.414         4
2020-09-02 19:59:00  358.45  358.45  358.45  358.45       1  358.450         1
2020-09-02 19:59:15  358.47  358.47  358.47  358.47       7  358.470         2
2020-09-02 19:59:30  358.43  358.43  358.43  358.43       2  358.430         1
2020-09-02 19:59:45  358.43  358.43  358.43  358.43       0  358.430         0

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-09-03 04:00:00  358.08  358.08  358.08  358.08       1  358.080         1
2020-09-03 04:00:15  358.08  358.08  358.08  358.08       0  358.080         0
2020-09-03 04:00:30  358.08  358.08  358.08  358.08       0  358.080         0
2020-09-03 04:00:45  358.19  358.19  358.19  358.19       1  358.190         1
2020-09-03 04:01:00  358.24  358.26  358.24  358.26      37  358.252        13
...                     ...     ...     ...     ...     ...      ...       ...
2020-09-03 19:58:45  343.21  343.21  343.12  343.12       2  343.165         2
2020-09-03 19:59:00  343.15  343.18  343.15  343.18       6  343.155         2
2020-09-03 19:59:15  343.17  343.18  343.17  343.18       7  343.173         3
2020-09-03 19:59:30  343.25  343.30  343.24  343.30      11  343.255         5
2020-09-03 19:59:45  343.34  343.34  343.27  343.27       5  343.292         3

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-09-04 04:00:00  347.00  347.00  346.86  346.89      81  346.989         4
2020-09-04 04:00:15  347.00  347.01  347.00  347.01       2  347.005         2
2020-09-04 04:00:30  347.03  347.03  346.96  346.99       7  346.984         4
2020-09-04 04:00:45  346.99  346.99  346.99  346.99       1  346.990         1
2020-09-04 04:01:00  346.98  346.98  346.98  346.98       1  346.980         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-09-04 19:58:45  342.00  342.00  342.00  342.00       0  342.000         0
2020-09-04 19:59:00  342.00  342.00  342.00  342.00       1  342.000         1
2020-09-04 19:59:15  341.99  341.99  341.99  341.99       1  341.990         1
2020-09-04 19:59:30  342.00  342.00  342.00  342.00       1  342.000         1
2020-09-04 19:59:45  342.00  342.00  342.00  342.00       0  342.000         0

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-09-04 04:00:00  347.00  347.00  346.86  346.89      81  346.989         4
2020-09-04 04:00:15  347.00  347.01  347.00  347.01       2  347.005         2
2020-09-04 04:00:30  347.03  347.03  346.96  346.99       7  346.984         4
2020-09-04 04:00:45  346.99  346.99  346.99  346.99       1  346.990         1
2020-09-04 04:01:00  346.98  346.98  346.98  346.98       1  346.980         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-09-04 19:58:45  342.00  342.00  342.00  342.00       0  342.000         0
2020-09-04 19:59:00  342.00  342.00  342.00  342.00       1  342.000         1
2020-09-04 19:59:15  341.99  341.99  341.99  341.99       1  341.990         1
2020-09-04 19:59:30  342.00  342.00  342.00  342.00       1  342.000         1
2020-09-04 19:59:45  342.00  342.00  342.00  342.00       0  342.000         0

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-09-08 04:00:00  343.44  343.58  343.44  343.58      24  343.536         5
2020-09-08 04:00:15  343.58  343.58  343.58  343.58       0  343.580         0
2020-09-08 04:00:30  343.58  343.58  343.58  343.58       0  343.580         0
2020-09-08 04:00:45  343.58  343.58  343.58  343.58       0  343.580         0
2020-09-08 04:01:00  343.58  343.58  343.58  343.58       0  343.580         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-09-08 19:58:45  332.26  332.26  332.26  332.26       0  332.260         0
2020-09-08 19:59:00  332.23  332.23  332.23  332.23       1  332.230         1
2020-09-08 19:59:15  332.23  332.23  332.23  332.23       0  332.230         0
2020-09-08 19:59:30  332.23  332.23  332.23  332.23       0  332.230         0
2020-09-08 19:59:45  332.30  332.30  332.30  332.30       1  332.300         1

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-09-09 04:00:00  335.45  335.50  335.36  335.41      32  335.437         6
2020-09-09 04:00:15  335.44  335.52  335.44  335.52       5  335.488         2
2020-09-09 04:00:30  335.75  335.75  335.74  335.74      10  335.745         2
2020-09-09 04:00:45  335.66  335.66  335.66  335.66      10  335.660         2
2020-09-09 04:01:00  335.60  335.70  335.60  335.70       5  335.628         5
...                     ...     ...     ...     ...     ...      ...       ...
2020-09-09 19:58:45  340.82  340.90  340.82  340.90      26  340.885        11
2020-09-09 19:59:00  340.85  340.90  340.85  340.85      17  340.865         6
2020-09-09 19:59:15  340.85  340.85  340.85  340.85       4  340.850         2
2020-09-09 19:59:30  340.88  340.90  340.88  340.90       8  340.886         3
2020-09-09 19:59:45  340.90  340.95  340.90  340.90      19  340.926         4

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-09-10 04:00:00  338.36  338.36  338.16  338.16      13  338.345         2
2020-09-10 04:00:15  338.16  338.16  338.16  338.16       0  338.160         0
2020-09-10 04:00:30  338.16  338.16  338.16  338.16       0  338.160         0
2020-09-10 04:00:45  338.06  338.07  338.06  338.07       3  338.067         2
2020-09-10 04:01:00  338.12  338.12  338.12  338.12       1  338.120         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-09-10 19:58:45  334.83  334.83  334.83  334.83       0  334.830         0
2020-09-10 19:59:00  334.81  334.81  334.81  334.81      25  334.810         5
2020-09-10 19:59:15  334.81  334.82  334.81  334.82       3  334.813         3
2020-09-10 19:59:30  334.80  334.80  334.80  334.80       1  334.800         1
2020-09-10 19:59:45  334.82  334.82  334.82  334.82      10  334.820         4

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-09-11 04:00:00  336.17  336.17  336.17  336.17       8  336.170         1
2020-09-11 04:00:15  336.17  336.17  336.17  336.17       0  336.170         0
2020-09-11 04:00:30  336.42  336.42  336.41  336.41       6  336.418         2
2020-09-11 04:00:45  336.41  336.41  336.41  336.41       0  336.410         0
2020-09-11 04:01:00  336.41  336.41  336.41  336.41       0  336.410         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-09-11 19:58:45  333.81  333.81  333.81  333.81       2  333.810         1
2020-09-11 19:59:00  333.90  333.90  333.89  333.90      14  333.897         6
2020-09-11 19:59:15  333.89  333.89  333.89  333.89       8  333.890         5
2020-09-11 19:59:30  333.91  333.91  333.89  333.89       5  333.898         3
2020-09-11 19:59:45  333.91  333.91  333.91  333.91      21  333.910        21

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-09-14 04:00:00  338.10  338.17  338.10  338.17      38  338.104         2
2020-09-14 04:00:15  338.20  338.30  338.20  338.30       3  338.267         2
2020-09-14 04:00:30  338.17  338.24  338.17  338.24       8  338.196         3
2020-09-14 04:00:45  338.24  338.24  338.24  338.24       0  338.240         0
2020-09-14 04:01:00  338.33  338.33  338.33  338.33       4  338.330         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-09-14 19:58:45  338.60  338.64  338.60  338.64      30  338.619         6
2020-09-14 19:59:00  338.64  338.64  338.64  338.64       0  338.640         0
2020-09-14 19:59:15  338.64  338.64  338.64  338.64       0  338.640         0
2020-09-14 19:59:30  338.64  338.64  338.64  338.64       0  338.640         0
2020-09-14 19:59:45  338.65  338.65  338.65  338.65       9  338.650         2

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-09-15 04:00:00  339.24  339.24  339.24  339.24       1  339.240         1
2020-09-15 04:00:15  339.25  339.25  339.25  339.25       5  339.250         1
2020-09-15 04:00:30  339.25  339.25  339.25  339.25       0  339.250         0
2020-09-15 04:00:45  339.25  339.25  339.25  339.25       0  339.250         0
2020-09-15 04:01:00  339.25  339.25  339.25  339.25       0  339.250         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-09-15 19:58:45  340.24  340.24  340.24  340.24       0  340.240         0
2020-09-15 19:59:00  340.24  340.24  340.24  340.24       1  340.240         1
2020-09-15 19:59:15  340.29  340.29  340.24  340.24      32  340.284        10
2020-09-15 19:59:30  340.29  340.29  340.28  340.28      11  340.285         4
2020-09-15 19:59:45  340.28  340.28  340.28  340.28       0  340.280         0

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-09-16 04:00:00  341.36  341.36  341.36  341.36       1  341.360         1
2020-09-16 04:00:15  341.36  341.36  341.36  341.36       0  341.360         0
2020-09-16 04:00:30  341.36  341.36  341.36  341.36       0  341.360         0
2020-09-16 04:00:45  341.25  341.31  341.25  341.31       2  341.280         2
2020-09-16 04:01:00  341.31  341.31  341.31  341.31       0  341.310         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-09-16 19:58:45  339.06  339.10  339.06  339.10       4  339.070         4
2020-09-16 19:59:00  339.10  339.10  339.10  339.10       0  339.100         0
2020-09-16 19:59:15  339.11  339.11  339.09  339.11       6  339.107         3
2020-09-16 19:59:30  339.13  339.13  339.10  339.10      51  339.110        12
2020-09-16 19:59:45  339.11  339.22  339.10  339.22      53  339.114        14

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-09-17 04:00:00  334.42  334.59  334.42  334.59      53  334.442         8
2020-09-17 04:00:15  334.44  334.51  334.44  334.51      18  334.498        10
2020-09-17 04:00:30  334.51  334.51  334.51  334.51       0  334.510         0
2020-09-17 04:00:45  334.60  334.62  334.60  334.62       8  334.602         8
2020-09-17 04:01:00  334.61  334.63  334.56  334.56      85  334.578        24
...                     ...     ...     ...     ...     ...      ...       ...
2020-09-17 19:58:45  336.01  336.01  336.01  336.01       0  336.010         0
2020-09-17 19:59:00  336.03  336.03  336.00  336.00      31  336.009         8
2020-09-17 19:59:15  335.99  335.99  335.99  335.99       5  335.990         2
2020-09-17 19:59:30  335.99  336.02  335.99  336.02      63  335.999        10
2020-09-17 19:59:45  336.03  336.03  336.00  336.00       3  336.021         2

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-09-18 04:00:00  334.51  334.51  334.51  334.51      11  334.510         1
2020-09-18 04:00:15  334.51  334.51  334.51  334.51       0  334.510         0
2020-09-18 04:00:30  334.51  334.51  334.51  334.51       0  334.510         0
2020-09-18 04:00:45  334.51  334.51  334.51  334.51       0  334.510         0
2020-09-18 04:01:00  334.51  334.51  334.51  334.51       0  334.510         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-09-18 19:58:45  331.22  331.22  331.22  331.22       1  331.220         1
2020-09-18 19:59:00  331.20  331.22  331.20  331.20      11  331.203         4
2020-09-18 19:59:15  331.22  331.22  331.22  331.22       1  331.220         1
2020-09-18 19:59:30  331.22  331.22  331.22  331.22       5  331.220         1
2020-09-18 19:59:45  331.26  331.26  331.26  331.26       3  331.260         2

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-09-21 04:00:00  328.14  328.14  328.03  328.06      43  328.136         3
2020-09-21 04:00:15  328.06  328.06  328.00  328.00      12  328.007         3
2020-09-21 04:00:30  327.93  327.93  327.93  327.93      50  327.930         3
2020-09-21 04:00:45  327.93  327.93  327.93  327.93       0  327.930         0
2020-09-21 04:01:00  327.93  327.93  327.93  327.93       0  327.930         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-09-21 19:58:45  328.17  328.17  328.16  328.16       7  328.161         3
2020-09-21 19:59:00  328.18  328.18  328.18  328.18      11  328.180         2
2020-09-21 19:59:15  328.10  328.10  328.10  328.10       7  328.100         2
2020-09-21 19:59:30  328.10  328.10  328.10  328.10       0  328.100         0
2020-09-21 19:59:45  328.11  328.14  328.10  328.10      10  328.121         5

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-09-22 04:00:00  326.64  326.64  326.63  326.63      10  326.635         2
2020-09-22 04:00:15  326.61  326.62  326.61  326.62       6  326.615         4
2020-09-22 04:00:30  326.67  326.69  326.67  326.69       6  326.682         3
2020-09-22 04:00:45  326.66  326.66  326.66  326.66       1  326.660         1
2020-09-22 04:01:00  326.66  326.66  326.66  326.66       0  326.660         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-09-22 19:58:45  330.12  330.12  330.12  330.12       4  330.120         1
2020-09-22 19:59:00  330.11  330.16  330.11  330.12      12  330.152         5
2020-09-22 19:59:15  330.17  330.17  330.17  330.17       2  330.170         2
2020-09-22 19:59:30  330.19  330.19  330.14  330.14      95  330.149        21
2020-09-22 19:59:45  330.13  330.18  330.13  330.16      22  330.150         7

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-09-23 04:00:30  330.90  330.90  330.90  330.90       1  330.900         1
2020-09-23 04:00:45  330.81  330.81  330.81  330.81       2  330.810         2
2020-09-23 04:01:00  330.81  330.81  330.81  330.81       0  330.810         0
2020-09-23 04:01:15  330.81  330.81  330.81  330.81       0  330.810         0
2020-09-23 04:01:30  330.81  330.81  330.81  330.81       0  330.810         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-09-23 19:58:45  321.66  321.68  321.65  321.65      70  321.664        13
2020-09-23 19:59:00  321.61  321.64  321.61  321.63      10  321.623         4
2020-09-23 19:59:15  321.69  321.69  321.69  321.69       4  321.690         1
2020-09-23 19:59:30  321.69  321.69  321.69  321.69       0  321.690         0
2020-09-23 19:59:45  321.70  321.70  321.70  321.70       4  321.700         3

[3838 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-09-24 04:00:00  323.00  323.00  323.00  323.00      43  323.000         3
2020-09-24 04:00:15  323.16  323.16  323.16  323.16       2  323.160         1
2020-09-24 04:00:30  323.17  323.17  323.17  323.17       1  323.170         1
2020-09-24 04:00:45  323.17  323.17  323.17  323.17       0  323.170         0
2020-09-24 04:01:00  323.17  323.17  323.17  323.17       0  323.170         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-09-24 19:58:45  325.30  325.31  325.30  325.30      41  325.300         6
2020-09-24 19:59:00  325.32  325.34  325.29  325.29      99  325.329        20
2020-09-24 19:59:15  325.29  325.31  325.29  325.31     107  325.303        24
2020-09-24 19:59:30  325.33  325.35  325.33  325.35      56  325.340        14
2020-09-24 19:59:45  325.37  325.37  325.34  325.35      13  325.354         6

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-09-25 04:00:00  323.80  323.80  323.73  323.77      86  323.790        10
2020-09-25 04:00:15  323.81  323.81  323.81  323.81       8  323.810         2
2020-09-25 04:00:30  323.81  323.81  323.81  323.81       0  323.810         0
2020-09-25 04:00:45  323.81  323.81  323.81  323.81       0  323.810         0
2020-09-25 04:01:00  323.83  323.83  323.83  323.83       2  323.830         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-09-25 19:58:45  328.11  328.11  328.11  328.11       1  328.110         1
2020-09-25 19:59:00  328.07  328.07  328.07  328.07       6  328.070         2
2020-09-25 19:59:15  328.06  328.06  328.05  328.05      16  328.053         6
2020-09-25 19:59:30  328.06  328.06  328.03  328.03      11  328.057         5
2020-09-25 19:59:45  328.06  328.06  328.06  328.06       3  328.060         2

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-09-28 04:00:00  331.17  331.20  331.10  331.10      53  331.137         4
2020-09-28 04:00:15  331.10  331.10  331.10  331.10       0  331.100         0
2020-09-28 04:00:30  331.10  331.10  331.10  331.10       0  331.100         0
2020-09-28 04:00:45  331.10  331.10  331.10  331.10       0  331.100         0
2020-09-28 04:01:00  331.10  331.10  331.10  331.10       0  331.100         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-09-28 19:58:45  335.38  335.38  335.38  335.38       0  335.380         0
2020-09-28 19:59:00  335.38  335.38  335.38  335.38       0  335.380         0
2020-09-28 19:59:15  335.36  335.36  335.34  335.35      15  335.348         5
2020-09-28 19:59:30  335.38  335.39  335.38  335.39      18  335.385         6
2020-09-28 19:59:45  335.40  335.44  335.37  335.37       4  335.417         3

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-09-29 04:00:00  333.94  333.94  333.94  333.94      12  333.940         1
2020-09-29 04:00:15  333.91  333.91  333.85  333.85      15  333.884         7
2020-09-29 04:00:30  333.83  333.83  333.78  333.78       3  333.797         2
2020-09-29 04:00:45  333.78  333.78  333.78  333.78       0  333.780         0
2020-09-29 04:01:00  333.73  333.73  333.71  333.71       2  333.722         2
...                     ...     ...     ...     ...     ...      ...       ...
2020-09-29 19:58:45  333.54  333.57  333.54  333.57       3  333.550         2
2020-09-29 19:59:00  333.58  333.58  333.58  333.58       9  333.580         6
2020-09-29 19:59:15  333.56  333.56  333.56  333.56       5  333.560         2
2020-09-29 19:59:30  333.58  333.58  333.58  333.58       3  333.580         3
2020-09-29 19:59:45  333.58  333.58  333.55  333.55      19  333.559         9

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-09-30 04:00:00  330.55  330.55  330.45  330.52      63  330.521        12
2020-09-30 04:00:15  330.44  330.44  330.40  330.41       7  330.413         3
2020-09-30 04:00:30  330.40  330.40  330.40  330.40       1  330.400         1
2020-09-30 04:00:45  330.49  330.49  330.49  330.49       1  330.490         1
2020-09-30 04:01:00  330.49  330.49  330.49  330.49       1  330.490         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-09-30 19:58:45  336.03  336.10  336.03  336.10      30  336.098         8
2020-09-30 19:59:00  336.10  336.10  336.10  336.10       0  336.100         0
2020-09-30 19:59:15  336.07  336.07  336.07  336.07       5  336.070         1
2020-09-30 19:59:30  336.08  336.10  336.08  336.10      36  336.097         7
2020-09-30 19:59:45  336.10  336.11  336.10  336.10      27  336.102        11

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-08-03 04:00:15  326.46  326.46  326.46  326.46       1   326.46         1
2020-08-03 04:00:30  326.46  326.46  326.46  326.46       0   326.46         0
2020-08-03 04:00:45  326.46  326.46  326.46  326.46       0   326.46         0
2020-08-03 04:01:00  326.46  326.46  326.46  326.46       0   326.46         0
2020-08-03 04:01:15  326.46  326.46  326.46  326.46       0   326.46         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-08-03 19:58:45  328.80  328.80  328.80  328.80       0   328.80         0
2020-08-03 19:59:00  328.83  328.83  328.83  328.83       5   328.83         2
2020-08-03 19:59:15  328.80  328.80  328.80  328.80       1   328.80         1
2020-08-03 19:59:30  328.80  328.80  328.80  328.80       3   328.80         1
2020-08-03 19:59:45  328.83  328.83  328.83  328.83       1   328.83         1

[3839 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-08-04 04:00:00  328.11  328.11  328.09  328.09       4  328.096         4
2020-08-04 04:00:15  328.09  328.09  328.07  328.07       5  328.077         3
2020-08-04 04:00:30  328.07  328.07  328.07  328.07       0  328.070         0
2020-08-04 04:00:45  328.07  328.07  328.07  328.07       0  328.070         0
2020-08-04 04:01:00  328.07  328.07  328.07  328.07       0  328.070         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-08-04 19:58:45  329.98  329.99  329.98  329.98       5  329.984         4
2020-08-04 19:59:00  329.99  329.99  329.99  329.99       5  329.990         2
2020-08-04 19:59:15  329.99  329.99  329.99  329.99       0  329.990         0
2020-08-04 19:59:30  329.99  329.99  329.99  329.99       1  329.990         1
2020-08-04 19:59:45  330.00  330.00  330.00  330.00       1  330.000         1

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-08-05 04:00:00  331.85  331.85  331.85  331.85      17  331.850         2
2020-08-05 04:00:15  331.85  331.85  331.85  331.85       0  331.850         0
2020-08-05 04:00:30  331.87  331.87  331.87  331.87       3  331.870         3
2020-08-05 04:00:45  331.87  331.87  331.87  331.87       0  331.870         0
2020-08-05 04:01:00  331.87  331.87  331.87  331.87       0  331.870         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-08-05 19:58:45  332.00  332.00  332.00  332.00       4  332.000         1
2020-08-05 19:59:00  332.01  332.01  332.01  332.01       9  332.010         3
2020-08-05 19:59:15  331.97  331.98  331.97  331.98       5  331.976         4
2020-08-05 19:59:30  331.98  331.98  331.98  331.98       1  331.980         1
2020-08-05 19:59:45  331.98  332.00  331.98  332.00       2  331.990         2

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-08-06 04:00:00  332.25  332.26  332.25  332.26       2  332.254         2
2020-08-06 04:00:15  332.26  332.26  332.26  332.26       0  332.260         0
2020-08-06 04:00:30  332.26  332.26  332.26  332.26       0  332.260         0
2020-08-06 04:00:45  332.19  332.19  332.19  332.19       1  332.190         1
2020-08-06 04:01:00  332.16  332.16  332.16  332.16       1  332.160         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-08-06 19:58:45  334.20  334.20  334.20  334.20       1  334.200         1
2020-08-06 19:59:00  334.20  334.20  334.20  334.20       0  334.200         0
2020-08-06 19:59:15  334.19  334.19  334.16  334.16       5  334.166         3
2020-08-06 19:59:30  334.14  334.14  334.14  334.14       2  334.140         2
2020-08-06 19:59:45  334.16  334.16  334.16  334.16       5  334.160         3

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-08-07 04:00:45  334.02  334.02  334.02  334.02      10   334.02         1
2020-08-07 04:01:00  334.02  334.02  334.02  334.02       0   334.02         0
2020-08-07 04:01:15  334.02  334.02  334.02  334.02       0   334.02         0
2020-08-07 04:01:30  334.02  334.02  334.02  334.02       0   334.02         0
2020-08-07 04:01:45  334.02  334.02  334.02  334.02       0   334.02         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-08-07 19:58:45  334.58  334.58  334.58  334.58       0   334.58         0
2020-08-07 19:59:00  334.53  334.53  334.53  334.53       2   334.53         1
2020-08-07 19:59:15  334.53  334.53  334.53  334.53       0   334.53         0
2020-08-07 19:59:30  334.53  334.53  334.53  334.53       0   334.53         0
2020-08-07 19:59:45  334.53  334.53  334.53  334.53       0   334.53         0

[3837 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-08-10 04:00:00  335.06  335.09  335.06  335.09       7  335.068         3
2020-08-10 04:00:15  335.09  335.09  335.09  335.09       0  335.090         0
2020-08-10 04:00:30  335.09  335.09  335.09  335.09       0  335.090         0
2020-08-10 04:00:45  335.09  335.09  335.09  335.09       0  335.090         0
2020-08-10 04:01:00  335.09  335.09  335.09  335.09       0  335.090         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-08-10 19:58:45  335.30  335.30  335.30  335.30       1  335.300         1
2020-08-10 19:59:00  335.30  335.31  335.29  335.29      30  335.301         8
2020-08-10 19:59:15  335.27  335.32  335.27  335.32      17  335.301         7
2020-08-10 19:59:30  335.32  335.32  335.32  335.32       3  335.320         2
2020-08-10 19:59:45  335.34  335.34  335.34  335.34       3  335.340         1

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-08-11 04:00:00  336.91  336.93  336.60  336.93      60  336.802        15
2020-08-11 04:00:15  336.98  336.98  336.98  336.98       6  336.980         2
2020-08-11 04:00:30  336.98  337.00  336.98  337.00      31  336.981         7
2020-08-11 04:00:45  337.02  337.13  337.02  337.05      32  337.044         8
2020-08-11 04:01:00  337.00  337.00  337.00  337.00       2  337.000         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-08-11 19:58:45  333.52  333.52  333.52  333.52       0  333.520         0
2020-08-11 19:59:00  333.52  333.52  333.52  333.52       3  333.520         3
2020-08-11 19:59:15  333.54  333.54  333.48  333.48      88  333.506        20
2020-08-11 19:59:30  333.48  333.48  333.46  333.47      65  333.471        15
2020-08-11 19:59:45  333.47  333.47  333.35  333.37      75  333.399        20

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-08-12 04:00:00  335.40  335.63  335.40  335.63      28  335.448         7
2020-08-12 04:00:15  335.63  335.63  335.63  335.63       0  335.630         0
2020-08-12 04:00:30  335.57  335.57  335.57  335.57      10  335.570         3
2020-08-12 04:00:45  335.59  335.59  335.59  335.59      10  335.590         2
2020-08-12 04:01:00  335.53  335.53  335.53  335.53       5  335.530         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-08-12 19:58:45  337.12  337.12  337.11  337.11      11  337.111         4
2020-08-12 19:59:00  337.12  337.12  337.12  337.12      10  337.120         2
2020-08-12 19:59:15  337.12  337.12  337.12  337.12       0  337.120         0
2020-08-12 19:59:30  337.11  337.11  337.11  337.11       3  337.110         1
2020-08-12 19:59:45  337.11  337.11  337.11  337.11       0  337.110         0

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-08-13 04:00:00  336.98  336.98  336.95  336.95      15  336.978         2
2020-08-13 04:00:15  336.92  336.92  336.88  336.88       8  336.892         3
2020-08-13 04:00:30  336.88  336.88  336.88  336.88       0  336.880         0
2020-08-13 04:00:45  336.88  336.88  336.88  336.88       0  336.880         0
2020-08-13 04:01:00  337.05  337.05  337.05  337.05      40  337.050         4
...                     ...     ...     ...     ...     ...      ...       ...
2020-08-13 19:58:45  337.62  337.62  337.62  337.62       1  337.620         1
2020-08-13 19:59:00  337.62  337.62  337.62  337.62       0  337.620         0
2020-08-13 19:59:15  337.61  337.61  337.60  337.60      14  337.601         5
2020-08-13 19:59:30  337.60  337.61  337.59  337.59      32  337.597         8
2020-08-13 19:59:45  337.58  337.62  337.58  337.62       7  337.607         5

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-08-14 04:00:00  336.19  336.22  335.99  335.99      38  336.176         7
2020-08-14 04:00:15  336.07  336.15  336.07  336.15      17  336.127         7
2020-08-14 04:00:30  336.10  336.10  336.00  336.00       9  336.058         7
2020-08-14 04:00:45  336.00  336.00  336.00  336.00       0  336.000         0
2020-08-14 04:01:00  335.97  335.97  335.95  335.97       3  335.963         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-08-14 19:58:45  336.60  336.60  336.60  336.60       0  336.600         0
2020-08-14 19:59:00  336.60  336.60  336.60  336.60       0  336.600         0
2020-08-14 19:59:15  336.54  336.54  336.54  336.54       1  336.540         1
2020-08-14 19:59:30  336.54  336.54  336.54  336.54       0  336.540         0
2020-08-14 19:59:45  336.60  336.60  336.60  336.60       2  336.600         2

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-08-17 04:00:00  337.44  337.54  337.44  337.54       4  337.461         2
2020-08-17 04:00:15  337.54  337.54  337.54  337.54       0  337.540         0
2020-08-17 04:00:30  337.54  337.54  337.54  337.54       0  337.540         0
2020-08-17 04:00:45  337.54  337.54  337.54  337.54       0  337.540         0
2020-08-17 04:01:00  337.47  337.47  337.47  337.47       1  337.470         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-08-17 19:58:45  338.63  338.63  338.63  338.63       3  338.630         1
2020-08-17 19:59:00  338.65  338.65  338.62  338.62       4  338.635         3
2020-08-17 19:59:15  338.62  338.62  338.62  338.62       2  338.620         2
2020-08-17 19:59:30  338.64  338.64  338.63  338.63       5  338.632         3
2020-08-17 19:59:45  338.63  338.63  338.63  338.63       0  338.630         0

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-08-18 04:00:00  338.00  338.00  337.70  337.74      19  337.907         4
2020-08-18 04:00:15  337.74  337.74  337.74  337.74       0  337.740         0
2020-08-18 04:00:30  337.74  337.74  337.74  337.74       0  337.740         0
2020-08-18 04:00:45  337.74  337.74  337.74  337.74       0  337.740         0
2020-08-18 04:01:00  337.74  337.74  337.74  337.74       0  337.740         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-08-18 19:58:45  338.94  338.94  338.94  338.94       9  338.940         2
2020-08-18 19:59:00  338.94  338.94  338.91  338.91      11  338.915         3
2020-08-18 19:59:15  338.91  338.91  338.91  338.91       0  338.910         0
2020-08-18 19:59:30  338.91  338.91  338.91  338.91       0  338.910         0
2020-08-18 19:59:45  338.92  338.93  338.92  338.92       5  338.923         4

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-08-19 04:00:00  339.13  339.13  339.13  339.13       1  339.130         1
2020-08-19 04:00:15  339.13  339.13  339.13  339.13       0  339.130         0
2020-08-19 04:00:30  339.13  339.13  339.13  339.13       0  339.130         0
2020-08-19 04:00:45  339.13  339.13  339.13  339.13       0  339.130         0
2020-08-19 04:01:00  339.15  339.15  339.15  339.15       3  339.150         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-08-19 19:58:45  336.29  336.29  336.29  336.29       2  336.290         1
2020-08-19 19:59:00  336.29  336.29  336.29  336.29       7  336.290         1
2020-08-19 19:59:15  336.29  336.29  336.29  336.29       1  336.290         1
2020-08-19 19:59:30  336.28  336.30  336.28  336.30      30  336.285         8
2020-08-19 19:59:45  336.27  336.27  336.26  336.27       8  336.267         5

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-08-20 04:00:00  336.54  336.54  336.26  336.26      12  336.512         2
2020-08-20 04:00:15  336.26  336.26  336.26  336.26       0  336.260         0
2020-08-20 04:00:30  336.26  336.26  336.26  336.26       0  336.260         0
2020-08-20 04:00:45  336.26  336.26  336.26  336.26       0  336.260         0
2020-08-20 04:01:00  336.26  336.26  336.26  336.26       0  336.260         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-08-20 19:58:45  338.97  338.97  338.97  338.97       4  338.970         3
2020-08-20 19:59:00  338.99  339.00  338.99  339.00      10  338.997         7
2020-08-20 19:59:15  338.99  338.99  338.99  338.99       1  338.990         1
2020-08-20 19:59:30  338.97  338.97  338.97  338.97       4  338.970         3
2020-08-20 19:59:45  338.97  338.99  338.96  338.96      15  338.973         6

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-08-21 04:00:00  338.35  338.35  338.20  338.21       6  338.247         4
2020-08-21 04:00:15  338.21  338.21  338.21  338.21       0  338.210         0
2020-08-21 04:00:30  338.21  338.21  338.21  338.21       0  338.210         0
2020-08-21 04:00:45  338.15  338.15  338.15  338.15       1  338.150         1
2020-08-21 04:01:00  338.15  338.15  338.15  338.15       0  338.150         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-08-21 19:58:45  339.59  339.60  339.59  339.60       2  339.595         2
2020-08-21 19:59:00  339.60  339.60  339.60  339.60       1  339.600         1
2020-08-21 19:59:15  339.63  339.65  339.63  339.65       7  339.644         3
2020-08-21 19:59:30  339.64  339.64  339.63  339.64       6  339.637         3
2020-08-21 19:59:45  339.64  339.65  339.64  339.65       8  339.646         2

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-08-24 04:00:00  341.20  341.33  341.20  341.33      23  341.217         5
2020-08-24 04:00:15  341.40  341.40  341.40  341.40       2  341.400         2
2020-08-24 04:00:30  341.48  341.50  341.48  341.50      29  341.496         8
2020-08-24 04:00:45  341.50  341.50  341.50  341.50       0  341.500         0
2020-08-24 04:01:00  341.40  341.43  341.40  341.43       5  341.406         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-08-24 19:58:45  343.39  343.40  343.39  343.40       3  343.397         3
2020-08-24 19:59:00  343.42  343.42  343.42  343.42       2  343.420         1
2020-08-24 19:59:15  343.41  343.41  343.40  343.40       3  343.405         2
2020-08-24 19:59:30  343.41  343.41  343.40  343.40       2  343.404         2
2020-08-24 19:59:45  343.40  343.40  343.39  343.39      14  343.393         7

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-08-25 04:00:00  344.57  344.57  344.57  344.57       9  344.570         1
2020-08-25 04:00:15  344.50  344.50  344.50  344.50       8  344.500         3
2020-08-25 04:00:30  344.60  344.60  344.60  344.60      12  344.600         6
2020-08-25 04:00:45  344.57  344.57  344.57  344.57       2  344.570         1
2020-08-25 04:01:00  344.51  344.55  344.51  344.55      10  344.522         4
...                     ...     ...     ...     ...     ...      ...       ...
2020-08-25 19:58:45  344.59  344.59  344.59  344.59       0  344.590         0
2020-08-25 19:59:00  344.59  344.59  344.59  344.59       0  344.590         0
2020-08-25 19:59:15  344.57  344.57  344.57  344.57       1  344.570         1
2020-08-25 19:59:30  344.59  344.59  344.55  344.55       4  344.580         4
2020-08-25 19:59:45  344.55  344.55  344.55  344.55      22  344.550         5

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-08-26 04:00:00  344.40  344.44  344.40  344.44       2  344.417         2
2020-08-26 04:00:15  344.44  344.44  344.44  344.44       0  344.440         0
2020-08-26 04:00:30  344.44  344.44  344.37  344.37       6  344.387         4
2020-08-26 04:00:45  344.42  344.42  344.42  344.42       4  344.420         4
2020-08-26 04:01:00  344.40  344.40  344.40  344.40       2  344.400         2
...                     ...     ...     ...     ...     ...      ...       ...
2020-08-26 19:58:45  347.75  347.75  347.75  347.75       1  347.750         1
2020-08-26 19:59:00  347.74  347.74  347.74  347.74       8  347.740         1
2020-08-26 19:59:15  347.74  347.74  347.74  347.74       0  347.740         0
2020-08-26 19:59:30  347.79  347.80  347.77  347.80      16  347.794         4
2020-08-26 19:59:45  347.77  347.77  347.77  347.77      10  347.770         1

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-08-27 04:00:15  347.56  347.56  347.56  347.56      10  347.560         2
2020-08-27 04:00:30  347.56  347.56  347.56  347.56       0  347.560         0
2020-08-27 04:00:45  347.56  347.56  347.56  347.56       0  347.560         0
2020-08-27 04:01:00  347.48  347.49  347.48  347.49      14  347.483         3
2020-08-27 04:01:15  347.49  347.49  347.49  347.49       0  347.490         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-08-27 19:58:45  349.26  349.30  349.26  349.28      11  349.282         6
2020-08-27 19:59:00  349.28  349.28  349.28  349.28       0  349.280         0
2020-08-27 19:59:15  349.28  349.28  349.28  349.28       0  349.280         0
2020-08-27 19:59:30  349.28  349.28  349.28  349.28       0  349.280         0
2020-08-27 19:59:45  349.26  349.26  349.26  349.26       4  349.260         3

[3839 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-08-28 04:01:00  349.26  349.26  349.26  349.26       1  349.260         1
2020-08-28 04:01:15  349.26  349.26  349.26  349.26       0  349.260         0
2020-08-28 04:01:30  349.26  349.26  349.26  349.26       0  349.260         0
2020-08-28 04:01:45  349.26  349.26  349.26  349.26       0  349.260         0
2020-08-28 04:02:00  349.28  349.28  349.28  349.28       1  349.280         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-08-28 19:58:45  351.00  351.00  351.00  351.00       0  351.000         0
2020-08-28 19:59:00  351.00  351.01  351.00  351.00      12  351.001         4
2020-08-28 19:59:15  351.00  351.00  351.00  351.00       0  351.000         0
2020-08-28 19:59:30  351.00  351.00  351.00  351.00       1  351.000         1
2020-08-28 19:59:45  351.00  351.00  350.98  350.98       5  350.993         3

[3836 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-08-31 04:00:00  351.71  351.71  351.71  351.71       3  351.710         1
2020-08-31 04:00:15  351.71  351.71  351.71  351.71       0  351.710         0
2020-08-31 04:00:30  351.71  351.71  351.71  351.71       0  351.710         0
2020-08-31 04:00:45  351.71  351.71  351.71  351.71       0  351.710         0
2020-08-31 04:01:00  351.71  351.71  351.71  351.71       0  351.710         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-08-31 19:58:45  349.72  349.72  349.72  349.72       1  349.720         1
2020-08-31 19:59:00  349.72  349.74  349.72  349.74       7  349.729         3
2020-08-31 19:59:15  349.73  349.75  349.73  349.74      17  349.736         7
2020-08-31 19:59:30  349.75  349.75  349.71  349.71      27  349.721        11
2020-08-31 19:59:45  349.70  349.70  349.68  349.69      10  349.689         4

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-07-01 04:00:15  308.74  308.74  308.74  308.74       3  308.740         3
2020-07-01 04:00:30  308.74  308.74  308.74  308.74       0  308.740         0
2020-07-01 04:00:45  308.74  308.74  308.74  308.74       0  308.740         0
2020-07-01 04:01:00  308.74  308.74  308.74  308.74       0  308.740         0
2020-07-01 04:01:15  308.74  308.74  308.74  308.74       0  308.740         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-07-01 19:58:45  310.36  310.36  310.36  310.36       0  310.360         0
2020-07-01 19:59:00  310.39  310.40  310.38  310.40      23  310.398         7
2020-07-01 19:59:15  310.36  310.36  310.36  310.36       8  310.360         4
2020-07-01 19:59:30  310.36  310.36  310.36  310.36       1  310.360         1
2020-07-01 19:59:45  310.34  310.35  310.33  310.35      26  310.343         5

[3839 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-07-02 04:00:00  312.00  312.25  312.00  312.25      25  312.051         4
2020-07-02 04:00:15  312.25  312.25  312.25  312.25       0  312.250         0
2020-07-02 04:00:30  312.35  312.35  312.35  312.35       1  312.350         1
2020-07-02 04:00:45  312.30  312.32  312.27  312.27      25  312.290        11
2020-07-02 04:01:00  312.28  312.36  312.28  312.36       3  312.310         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-07-02 19:58:45  312.77  312.77  312.77  312.77      12  312.770         3
2020-07-02 19:59:00  312.79  312.79  312.79  312.79       2  312.790         2
2020-07-02 19:59:15  312.78  312.78  312.78  312.78       4  312.780         1
2020-07-02 19:59:30  312.79  312.80  312.79  312.80       6  312.796         2
2020-07-02 19:59:45  312.80  312.81  312.80  312.80      24  312.802         8

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-07-02 04:00:00  312.00  312.25  312.00  312.25      25  312.051         4
2020-07-02 04:00:15  312.25  312.25  312.25  312.25       0  312.250         0
2020-07-02 04:00:30  312.35  312.35  312.35  312.35       1  312.350         1
2020-07-02 04:00:45  312.30  312.32  312.27  312.27      25  312.290        11
2020-07-02 04:01:00  312.28  312.36  312.28  312.36       3  312.310         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-07-02 19:58:45  312.77  312.77  312.77  312.77      12  312.770         3
2020-07-02 19:59:00  312.79  312.79  312.79  312.79       2  312.790         2
2020-07-02 19:59:15  312.78  312.78  312.78  312.78       4  312.780         1
2020-07-02 19:59:30  312.79  312.80  312.79  312.80       6  312.796         2
2020-07-02 19:59:45  312.80  312.81  312.80  312.80      24  312.802         8

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-07-06 04:00:00  316.61  316.76  316.61  316.76      20  316.632         2
2020-07-06 04:00:15  316.76  316.76  316.76  316.76       0  316.760         0
2020-07-06 04:00:30  316.76  316.76  316.76  316.76       0  316.760         0
2020-07-06 04:00:45  316.75  316.75  316.75  316.75       4  316.750         1
2020-07-06 04:01:00  316.75  316.75  316.75  316.75       0  316.750         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-07-06 19:58:45  317.73  317.75  317.73  317.73       7  317.739         4
2020-07-06 19:59:00  317.75  317.75  317.75  317.75       4  317.750         2
2020-07-06 19:59:15  317.75  317.75  317.73  317.73      61  317.748        14
2020-07-06 19:59:30  317.73  317.75  317.73  317.75       3  317.744         2
2020-07-06 19:59:45  317.75  317.75  317.70  317.73      39  317.740        11

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-07-07 04:00:00  315.60  315.60  315.14  315.29      39  315.430        13
2020-07-07 04:00:15  315.29  315.29  315.29  315.29       0  315.290         0
2020-07-07 04:00:30  315.28  315.28  315.27  315.27       3  315.273         2
2020-07-07 04:00:45  315.34  315.34  315.29  315.29       5  315.317         4
2020-07-07 04:01:00  315.29  315.29  315.29  315.29       0  315.290         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-07-07 19:58:45  314.10  314.10  314.10  314.10       0  314.100         0
2020-07-07 19:59:00  314.16  314.16  314.16  314.16       5  314.160         1
2020-07-07 19:59:15  314.16  314.16  314.16  314.16       5  314.160         1
2020-07-07 19:59:30  314.10  314.16  314.10  314.16      20  314.146         4
2020-07-07 19:59:45  314.17  314.18  314.17  314.17      12  314.174         3

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-07-08 04:00:00  314.61  314.61  314.61  314.61       1  314.610         1
2020-07-08 04:00:15  314.61  314.61  314.61  314.61       0  314.610         0
2020-07-08 04:00:30  314.60  314.60  314.60  314.60      11  314.600         2
2020-07-08 04:00:45  314.60  314.60  314.60  314.60       0  314.600         0
2020-07-08 04:01:00  314.60  314.60  314.60  314.60       5  314.600         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-07-08 19:58:45  316.85  316.85  316.85  316.85       3  316.850         2
2020-07-08 19:59:00  316.85  316.85  316.85  316.85       0  316.850         0
2020-07-08 19:59:15  316.85  316.85  316.85  316.85       0  316.850         0
2020-07-08 19:59:30  316.86  316.90  316.85  316.88      50  316.862        10
2020-07-08 19:59:45  316.85  316.85  316.85  316.85       1  316.850         1

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-07-09 04:00:00  316.18  316.20  316.18  316.20       7  316.197         3
2020-07-09 04:00:15  316.05  316.05  316.05  316.05       1  316.050         1
2020-07-09 04:00:30  316.00  316.00  316.00  316.00       3  316.000         2
2020-07-09 04:00:45  316.04  316.04  316.04  316.04      15  316.040         5
2020-07-09 04:01:00  316.04  316.04  316.04  316.04       0  316.040         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-07-09 19:58:45  315.19  315.19  315.12  315.12       3  315.167         3
2020-07-09 19:59:00  315.16  315.16  315.16  315.16       4  315.160         1
2020-07-09 19:59:15  315.16  315.16  315.16  315.16       0  315.160         0
2020-07-09 19:59:30  315.16  315.16  315.16  315.16       0  315.160         0
2020-07-09 19:59:45  315.16  315.16  315.16  315.16       6  315.160         2

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-07-10 04:00:00  312.64  312.76  312.64  312.75      19  312.677         3
2020-07-10 04:00:15  312.75  312.75  312.75  312.75       0  312.750         0
2020-07-10 04:00:30  312.75  312.75  312.75  312.75       0  312.750         0
2020-07-10 04:00:45  312.67  312.67  312.67  312.67       6  312.670         2
2020-07-10 04:01:00  312.75  312.75  312.75  312.75       1  312.750         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-07-10 19:58:45  318.03  318.03  318.03  318.03       0  318.030         0
2020-07-10 19:59:00  318.02  318.11  318.02  318.11       2  318.065         2
2020-07-10 19:59:15  318.11  318.11  318.11  318.11       4  318.110         3
2020-07-10 19:59:30  318.06  318.15  318.05  318.11      21  318.085         7
2020-07-10 19:59:45  318.06  318.10  318.06  318.10       8  318.074         5

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-07-13 04:03:30  318.93  318.93  318.93  318.93       2  318.930         1
2020-07-13 04:03:45  318.95  318.95  318.95  318.95       2  318.950         2
2020-07-13 04:04:00  318.89  318.89  318.87  318.87       5  318.877         2
2020-07-13 04:04:15  318.87  318.87  318.87  318.87       0  318.870         0
2020-07-13 04:04:30  318.87  318.87  318.87  318.87       2  318.870         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-07-13 19:58:45  315.67  315.67  315.56  315.56      21  315.662         5
2020-07-13 19:59:00  315.51  315.54  315.42  315.52     124  315.519        30
2020-07-13 19:59:15  315.45  315.50  315.45  315.50      21  315.498         5
2020-07-13 19:59:30  315.61  315.62  315.61  315.62       5  315.618         2
2020-07-13 19:59:45  315.62  315.62  315.60  315.60       5  315.612         2

[3826 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-07-14 04:00:00  314.91  314.93  314.90  314.93       8  314.920         4
2020-07-14 04:00:15  314.93  314.93  314.93  314.93       0  314.930         0
2020-07-14 04:00:30  314.94  314.94  314.93  314.93       5  314.934         2
2020-07-14 04:00:45  314.93  314.93  314.93  314.93       0  314.930         0
2020-07-14 04:01:00  315.00  315.00  315.00  315.00      10  315.000         2
...                     ...     ...     ...     ...     ...      ...       ...
2020-07-14 19:58:45  321.04  321.04  321.02  321.02      20  321.032         7
2020-07-14 19:59:00  320.97  321.02  320.97  321.02       3  320.983         2
2020-07-14 19:59:15  320.99  321.00  320.99  320.99       2  320.990         2
2020-07-14 19:59:30  321.00  321.04  320.99  320.99      10  321.021         5
2020-07-14 19:59:45  320.99  321.04  320.99  321.04      16  321.024         6

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-07-15 04:00:30  320.68  320.68  320.68  320.68       1  320.680         1
2020-07-15 04:00:45  320.68  320.68  320.68  320.68       0  320.680         0
2020-07-15 04:01:00  320.71  320.71  320.71  320.71       2  320.710         1
2020-07-15 04:01:15  320.72  320.72  320.72  320.72       1  320.720         1
2020-07-15 04:01:30  320.72  320.72  320.72  320.72       0  320.720         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-07-15 19:58:45  321.90  321.90  321.90  321.90       0  321.900         0
2020-07-15 19:59:00  321.90  321.90  321.90  321.90       0  321.900         0
2020-07-15 19:59:15  321.85  321.91  321.85  321.91      13  321.875         4
2020-07-15 19:59:30  321.91  321.91  321.91  321.91       0  321.910         0
2020-07-15 19:59:45  321.86  321.86  321.85  321.85      39  321.858        11

[3838 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-07-16 04:00:00  320.12  320.12  320.00  320.00      77  320.090        17
2020-07-16 04:00:15  320.00  320.00  320.00  320.00       0  320.000         0
2020-07-16 04:00:30  320.09  320.09  320.09  320.09       1  320.090         1
2020-07-16 04:00:45  320.07  320.07  320.07  320.07      10  320.070         2
2020-07-16 04:01:00  319.90  319.90  319.90  319.90       6  319.900         2
...                     ...     ...     ...     ...     ...      ...       ...
2020-07-16 19:58:45  320.39  320.39  320.39  320.39       0  320.390         0
2020-07-16 19:59:00  320.41  320.44  320.41  320.41       4  320.416         3
2020-07-16 19:59:15  320.41  320.41  320.41  320.41       1  320.410         1
2020-07-16 19:59:30  320.41  320.41  320.41  320.41      13  320.410         4
2020-07-16 19:59:45  320.41  320.41  320.41  320.41      12  320.410         3

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-07-17 04:00:00  319.66  319.66  319.60  319.64       7  319.621         3
2020-07-17 04:00:15  319.67  319.67  319.67  319.67       1  319.670         1
2020-07-17 04:00:30  319.67  319.67  319.67  319.67       1  319.670         1
2020-07-17 04:00:45  319.67  319.67  319.67  319.67       0  319.670         0
2020-07-17 04:01:00  319.67  319.67  319.67  319.67       0  319.670         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-07-17 19:58:45  321.98  321.98  321.98  321.98       0  321.980         0
2020-07-17 19:59:00  321.98  321.98  321.98  321.98       0  321.980         0
2020-07-17 19:59:15  321.98  321.98  321.98  321.98       0  321.980         0
2020-07-17 19:59:30  321.90  321.90  321.90  321.90       1  321.900         1
2020-07-17 19:59:45  321.90  321.90  321.90  321.90       8  321.900         4

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-07-20 04:00:00  319.92  319.92  319.90  319.90      20  319.919         2
2020-07-20 04:00:15  319.90  319.90  319.90  319.90       0  319.900         0
2020-07-20 04:00:30  320.06  320.06  320.06  320.06       1  320.060         1
2020-07-20 04:00:45  320.02  320.06  320.02  320.04       3  320.040         3
2020-07-20 04:01:00  320.04  320.04  320.04  320.04       0  320.040         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-07-20 19:58:45  324.38  324.40  324.38  324.40       7  324.383         4
2020-07-20 19:59:00  324.40  324.40  324.40  324.40       0  324.400         0
2020-07-20 19:59:15  324.40  324.41  324.40  324.41       5  324.406         2
2020-07-20 19:59:30  324.41  324.43  324.41  324.43       4  324.416         3
2020-07-20 19:59:45  324.40  324.40  324.40  324.40       1  324.400         1

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-07-21 04:00:00  326.00  326.40  326.00  326.40      21  326.019         2
2020-07-21 04:00:15  326.40  326.40  326.40  326.40       0  326.400         0
2020-07-21 04:00:30  326.40  326.40  326.40  326.40       0  326.400         0
2020-07-21 04:00:45  326.32  326.32  326.32  326.32       1  326.320         1
2020-07-21 04:01:00  326.32  326.32  326.32  326.32       1  326.320         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-07-21 19:58:45  325.63  325.63  325.60  325.60     180  325.614        19
2020-07-21 19:59:00  325.60  325.60  325.60  325.60       0  325.600         0
2020-07-21 19:59:15  325.67  325.67  325.61  325.61       2  325.637         2
2020-07-21 19:59:30  325.61  325.61  325.61  325.61       0  325.610         0
2020-07-21 19:59:45  325.69  325.69  325.69  325.69       1  325.690         1

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-07-22 04:00:00  324.50  324.50  324.42  324.46      14  324.490         4
2020-07-22 04:00:15  324.42  324.48  324.42  324.48       3  324.458         3
2020-07-22 04:00:30  324.48  324.48  324.48  324.48       0  324.480         0
2020-07-22 04:00:45  324.48  324.48  324.48  324.48       0  324.480         0
2020-07-22 04:01:00  324.48  324.48  324.48  324.48       0  324.480         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-07-22 19:58:45  326.31  326.31  326.31  326.31       1  326.310         1
2020-07-22 19:59:00  326.31  326.34  326.29  326.29      37  326.307         9
2020-07-22 19:59:15  326.25  326.25  326.16  326.16      28  326.236        10
2020-07-22 19:59:30  326.12  326.12  326.05  326.09      15  326.086         9
2020-07-22 19:59:45  326.16  326.16  326.11  326.11       8  326.135         5

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-07-23 04:00:00  328.15  328.35  328.12  328.25      30  328.196         7
2020-07-23 04:00:15  328.27  328.27  328.20  328.20       4  328.235         2
2020-07-23 04:00:30  328.20  328.20  328.20  328.20       0  328.200         0
2020-07-23 04:00:45  328.20  328.20  328.20  328.20       0  328.200         0
2020-07-23 04:01:00  328.31  328.31  328.29  328.29      13  328.304         4
...                     ...     ...     ...     ...     ...      ...       ...
2020-07-23 19:58:45  323.40  323.40  323.40  323.40       1  323.400         1
2020-07-23 19:59:00  323.37  323.37  323.37  323.37       1  323.370         1
2020-07-23 19:59:15  323.40  323.42  323.40  323.41      53  323.411         6
2020-07-23 19:59:30  323.42  323.42  323.39  323.42      20  323.417         6
2020-07-23 19:59:45  323.40  323.45  323.40  323.45      26  323.425         9

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-07-24 04:00:00  320.67  320.67  320.61  320.63      53  320.661         5
2020-07-24 04:00:15  320.72  320.72  320.72  320.72       1  320.720         1
2020-07-24 04:00:30  320.72  320.72  320.72  320.72       0  320.720         0
2020-07-24 04:00:45  320.67  320.67  320.67  320.67      10  320.670         1
2020-07-24 04:01:00  320.58  320.58  320.53  320.53       6  320.572         2
...                     ...     ...     ...     ...     ...      ...       ...
2020-07-24 19:58:45  320.12  320.12  320.12  320.12       0  320.120         0
2020-07-24 19:59:00  320.12  320.12  320.12  320.12       0  320.120         0
2020-07-24 19:59:15  320.12  320.12  320.12  320.12       0  320.120         0
2020-07-24 19:59:30  320.12  320.12  320.12  320.12       0  320.120         0
2020-07-24 19:59:45  320.20  320.20  320.18  320.20       3  320.193         3

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-07-27 04:00:00  321.52  321.52  321.52  321.52      10  321.520         2
2020-07-27 04:00:15  321.57  321.57  321.57  321.57       1  321.570         1
2020-07-27 04:00:30  321.62  321.62  321.62  321.62       2  321.620         1
2020-07-27 04:00:45  321.69  321.69  321.69  321.69       3  321.690         3
2020-07-27 04:01:00  321.67  321.69  321.67  321.69       6  321.687         2
...                     ...     ...     ...     ...     ...      ...       ...
2020-07-27 19:58:45  323.73  323.73  323.73  323.73       3  323.730         1
2020-07-27 19:59:00  323.70  323.70  323.70  323.70       4  323.700         2
2020-07-27 19:59:15  323.67  323.67  323.67  323.67       5  323.670         1
2020-07-27 19:59:30  323.70  323.70  323.70  323.70       1  323.700         1
2020-07-27 19:59:45  323.69  323.70  323.69  323.70       3  323.697         2

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-07-28 04:00:00  323.40  323.40  323.39  323.39       8  323.392         5
2020-07-28 04:00:15  323.39  323.39  323.39  323.39       0  323.390         0
2020-07-28 04:00:30  323.38  323.38  323.38  323.38       3  323.380         1
2020-07-28 04:00:45  323.38  323.38  323.38  323.38       0  323.380         0
2020-07-28 04:01:00  323.38  323.38  323.38  323.38       0  323.380         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-07-28 19:58:45  321.76  321.76  321.76  321.76       0  321.760         0
2020-07-28 19:59:00  321.80  321.81  321.80  321.81       5  321.807         3
2020-07-28 19:59:15  321.81  321.81  321.81  321.81       0  321.810         0
2020-07-28 19:59:30  321.80  321.80  321.80  321.80       1  321.800         1
2020-07-28 19:59:45  321.80  321.80  321.80  321.80       1  321.800         1

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-07-29 04:00:00  321.93  322.00  321.93  322.00      11  321.937         2
2020-07-29 04:00:15  322.00  322.00  322.00  322.00       0  322.000         0
2020-07-29 04:00:30  322.00  322.00  322.00  322.00       0  322.000         0
2020-07-29 04:00:45  322.08  322.08  322.06  322.06       4  322.075         2
2020-07-29 04:01:00  322.06  322.06  322.06  322.06       0  322.060         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-07-29 19:58:45  325.17  325.17  325.17  325.17       4  325.170         2
2020-07-29 19:59:00  325.17  325.17  325.12  325.12       3  325.133         2
2020-07-29 19:59:15  325.14  325.14  325.14  325.14       1  325.140         1
2020-07-29 19:59:30  325.14  325.14  325.14  325.14       0  325.140         0
2020-07-29 19:59:45  325.14  325.14  325.14  325.14       0  325.140         0

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-07-30 04:00:00  323.00  323.00  322.59  322.78     124  322.920        27
2020-07-30 04:00:15  322.78  322.78  322.78  322.78       0  322.780         0
2020-07-30 04:00:30  322.80  322.80  322.80  322.80       2  322.800         1
2020-07-30 04:00:45  322.80  322.80  322.80  322.80       0  322.800         0
2020-07-30 04:01:00  322.75  322.75  322.75  322.75       1  322.750         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-07-30 19:58:45  326.87  326.87  326.87  326.87      10  326.870         2
2020-07-30 19:59:00  326.84  326.84  326.84  326.84       1  326.840         1
2020-07-30 19:59:15  326.84  326.84  326.84  326.84       3  326.840         1
2020-07-30 19:59:30  326.81  326.84  326.80  326.80      13  326.817         8
2020-07-30 19:59:45  326.80  326.84  326.78  326.84      14  326.803         8

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-07-31 04:00:00  325.69  325.69  325.62  325.62      15  325.685         3
2020-07-31 04:00:15  325.64  325.64  325.64  325.64       1  325.640         1
2020-07-31 04:00:30  325.58  325.61  325.58  325.61      15  325.593         6
2020-07-31 04:00:45  325.61  325.61  325.61  325.61       0  325.610         0
2020-07-31 04:01:00  325.59  325.64  325.59  325.64      10  325.615         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-07-31 19:58:45  326.40  326.40  326.40  326.40       0  326.400         0
2020-07-31 19:59:00  326.40  326.40  326.40  326.40       0  326.400         0
2020-07-31 19:59:15  326.44  326.44  326.40  326.40       5  326.432         5
2020-07-31 19:59:30  326.44  326.44  326.44  326.44      20  326.440         2
2020-07-31 19:59:45  326.44  326.44  326.44  326.44      12  326.440         6

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-06-01 04:00:00  305.00  305.00  305.00  305.00       2  305.000         1
2020-06-01 04:00:15  305.27  305.27  305.27  305.27       2  305.270         2
2020-06-01 04:00:30  305.27  305.27  305.27  305.27       0  305.270         0
2020-06-01 04:00:45  305.31  305.31  305.31  305.31       1  305.310         1
2020-06-01 04:01:00  305.26  305.26  305.22  305.22      24  305.245         7
...                     ...     ...     ...     ...     ...      ...       ...
2020-06-01 19:58:45  304.13  304.15  304.10  304.15      47  304.129        13
2020-06-01 19:59:00  304.11  304.16  304.11  304.16      32  304.125         5
2020-06-01 19:59:15  304.17  304.23  304.17  304.19       7  304.199         4
2020-06-01 19:59:30  304.15  304.15  304.14  304.14      13  304.145         5
2020-06-01 19:59:45  304.14  304.19  304.14  304.19      23  304.147         7

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-06-02 04:00:00  305.53  305.53  305.53  305.53       2  305.530         1
2020-06-02 04:00:15  305.53  305.53  305.53  305.53       0  305.530         0
2020-06-02 04:00:30  305.53  305.53  305.53  305.53       0  305.530         0
2020-06-02 04:00:45  305.52  305.52  305.52  305.52       3  305.520         2
2020-06-02 04:01:00  305.52  305.52  305.52  305.52       0  305.520         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-06-02 19:58:45  308.90  308.92  308.86  308.86      12  308.887         5
2020-06-02 19:59:00  308.87  308.88  308.86  308.86      23  308.863         4
2020-06-02 19:59:15  308.88  308.88  308.85  308.88       4  308.868         4
2020-06-02 19:59:30  308.88  308.88  308.88  308.88       7  308.880         4
2020-06-02 19:59:45  308.87  308.90  308.87  308.89      17  308.891         6

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-06-03 04:00:00  309.25  309.25  309.25  309.25      10  309.250         1
2020-06-03 04:00:15  309.34  309.34  309.34  309.34       1  309.340         1
2020-06-03 04:00:30  309.35  309.35  309.35  309.35       2  309.350         1
2020-06-03 04:00:45  309.35  309.35  309.35  309.35       0  309.350         0
2020-06-03 04:01:00  309.35  309.35  309.35  309.35       0  309.350         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-06-03 19:58:45  312.63  312.66  312.62  312.62      44  312.642        10
2020-06-03 19:59:00  312.66  312.66  312.62  312.66      44  312.644        15
2020-06-03 19:59:15  312.67  312.72  312.65  312.72     224  312.682        42
2020-06-03 19:59:30  312.72  312.74  312.70  312.71     314  312.732        56
2020-06-03 19:59:45  312.72  312.72  312.63  312.65     101  312.670        19

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-06-04 04:00:00  311.50  311.50  311.50  311.50       1  311.500         1
2020-06-04 04:00:15  311.50  311.50  311.50  311.50       0  311.500         0
2020-06-04 04:00:30  311.48  311.48  311.48  311.48       3  311.480         2
2020-06-04 04:00:45  311.36  311.36  311.32  311.32       7  311.344         3
2020-06-04 04:01:00  311.29  311.29  311.29  311.29      10  311.290         4
...                     ...     ...     ...     ...     ...      ...       ...
2020-06-04 19:58:45  311.16  311.16  311.15  311.16      12  311.155         5
2020-06-04 19:59:00  311.21  311.26  311.18  311.26      14  311.212         6
2020-06-04 19:59:15  311.25  311.25  311.25  311.25      16  311.250         3
2020-06-04 19:59:30  311.25  311.25  311.25  311.25       0  311.250         0
2020-06-04 19:59:45  311.21  311.21  311.18  311.20      45  311.204        17

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-06-05 04:00:00  314.69  314.72  314.69  314.71      75  314.691         7
2020-06-05 04:00:15  314.71  314.71  314.71  314.71      13  314.710         3
2020-06-05 04:00:30  314.71  314.71  314.71  314.71       1  314.710         1
2020-06-05 04:00:45  314.77  314.79  314.71  314.72      51  314.749        13
2020-06-05 04:01:00  314.71  314.71  314.71  314.71       4  314.710         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-06-05 19:58:45  319.19  319.20  319.19  319.20       2  319.195         2
2020-06-05 19:59:00  319.20  319.20  319.19  319.20      91  319.200         6
2020-06-05 19:59:15  319.17  319.17  319.17  319.17       5  319.170         1
2020-06-05 19:59:30  319.17  319.17  319.15  319.15       9  319.153         4
2020-06-05 19:59:45  319.15  319.15  319.15  319.15      11  319.150         2

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-06-08 04:00:00  318.98  318.98  318.98  318.98      10  318.980         1
2020-06-08 04:00:15  318.97  318.99  318.97  318.99       2  318.980         2
2020-06-08 04:00:30  318.99  318.99  318.99  318.99       0  318.990         0
2020-06-08 04:00:45  318.99  318.99  318.99  318.99       0  318.990         0
2020-06-08 04:01:00  319.00  319.00  319.00  319.00       2  319.000         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-06-08 19:58:45  322.58  322.59  322.58  322.59       4  322.587         2
2020-06-08 19:59:00  322.54  322.56  322.54  322.56       4  322.544         3
2020-06-08 19:59:15  322.56  322.56  322.56  322.56       7  322.560         4
2020-06-08 19:59:30  322.57  322.62  322.56  322.56      20  322.581         7
2020-06-08 19:59:45  322.60  322.61  322.60  322.61       5  322.604         3

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-06-09 04:00:00  321.14  321.34  321.14  321.15      31  321.149         3
2020-06-09 04:00:15  321.15  321.15  321.15  321.15       0  321.150         0
2020-06-09 04:00:30  321.17  321.18  321.17  321.17      26  321.174         6
2020-06-09 04:00:45  321.17  321.17  321.17  321.17       1  321.170         1
2020-06-09 04:01:00  321.20  321.22  321.18  321.18      12  321.185         4
...                     ...     ...     ...     ...     ...      ...       ...
2020-06-09 19:58:45  321.89  321.89  321.89  321.89       0  321.890         0
2020-06-09 19:59:00  321.89  321.89  321.89  321.89       0  321.890         0
2020-06-09 19:59:15  321.90  321.90  321.88  321.88       4  321.892         3
2020-06-09 19:59:30  321.88  321.88  321.88  321.88       1  321.880         1
2020-06-09 19:59:45  321.88  321.92  321.88  321.92      65  321.912        15

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-06-10 04:00:00  322.42  322.42  322.36  322.39       6  322.390         4
2020-06-10 04:00:15  322.33  322.34  322.30  322.34      23  322.319        11
2020-06-10 04:00:30  322.39  322.39  322.39  322.39       1  322.390         1
2020-06-10 04:00:45  322.38  322.38  322.38  322.38       1  322.380         1
2020-06-10 04:01:00  322.39  322.39  322.39  322.39       1  322.390         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-06-10 19:58:45  316.65  316.65  316.62  316.62      46  316.638        16
2020-06-10 19:59:00  316.61  316.66  316.60  316.60     103  316.617        29
2020-06-10 19:59:15  316.65  316.68  316.65  316.66      36  316.670        11
2020-06-10 19:59:30  316.65  316.65  316.63  316.65     119  316.639        20
2020-06-10 19:59:45  316.64  316.76  316.60  316.76     271  316.633        57

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-06-11 04:00:00  313.45  313.45  313.04  313.13     131  313.358        20
2020-06-11 04:00:15  313.00  313.00  312.87  312.87      21  312.927         6
2020-06-11 04:00:30  312.84  312.89  312.81  312.89      10  312.847         4
2020-06-11 04:00:45  312.89  312.90  312.80  312.81      99  312.837        25
2020-06-11 04:01:00  312.84  312.84  312.84  312.84       6  312.840         2
...                     ...     ...     ...     ...     ...      ...       ...
2020-06-11 19:58:45  302.98  303.00  302.98  302.99       9  302.988         5
2020-06-11 19:59:00  302.96  303.08  302.96  303.05      29  303.072        10
2020-06-11 19:59:15  303.01  303.04  302.94  303.00      14  302.996        10
2020-06-11 19:59:30  303.01  303.03  302.99  303.00      36  303.006        11
2020-06-11 19:59:45  302.98  303.08  302.91  303.08      10  303.019         8

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-06-12 04:00:00  304.43  304.71  304.43  304.60      57  304.613        14
2020-06-12 04:00:15  304.68  304.77  304.58  304.58      49  304.720        11
2020-06-12 04:00:30  304.68  304.68  304.59  304.59      51  304.607        11
2020-06-12 04:00:45  304.70  304.70  304.70  304.70       1  304.700         1
2020-06-12 04:01:00  304.75  304.84  304.75  304.84      61  304.822         7
...                     ...     ...     ...     ...     ...      ...       ...
2020-06-12 19:58:45  303.75  303.75  303.71  303.71       3  303.730         2
2020-06-12 19:59:00  303.71  303.71  303.70  303.70       9  303.703         6
2020-06-12 19:59:15  303.70  303.70  303.60  303.60      14  303.628         6
2020-06-12 19:59:30  303.57  303.70  303.57  303.70       7  303.657         2
2020-06-12 19:59:45  303.61  303.61  303.58  303.58       4  303.597         3

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-06-15 04:00:00  296.36  296.38  296.20  296.27      81  296.311        15
2020-06-15 04:00:15  296.37  296.40  296.27  296.39      86  296.349        16
2020-06-15 04:00:30  296.21  296.29  296.21  296.25      66  296.288        11
2020-06-15 04:00:45  296.36  296.41  296.26  296.30      15  296.312         9
2020-06-15 04:01:00  296.30  296.43  296.26  296.40      25  296.344         8
...                     ...     ...     ...     ...     ...      ...       ...
2020-06-15 19:58:45  310.11  310.12  310.09  310.10      48  310.097        18
2020-06-15 19:59:00  310.08  310.10  310.08  310.08      41  310.094         9
2020-06-15 19:59:15  310.09  310.12  310.05  310.07      76  310.079        15
2020-06-15 19:59:30  310.05  310.17  310.05  310.17      74  310.112        25
2020-06-15 19:59:45  310.17  310.17  310.07  310.15      54  310.147        20

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-06-16 04:00:00  310.17  310.17  310.12  310.12      49  310.166         9
2020-06-16 04:00:15  310.11  310.22  310.02  310.02      11  310.137         8
2020-06-16 04:00:30  310.02  310.02  310.02  310.02       0  310.020         0
2020-06-16 04:00:45  310.02  310.02  310.02  310.02       0  310.020         0
2020-06-16 04:01:00  309.85  309.85  309.82  309.82      30  309.835         7
...                     ...     ...     ...     ...     ...      ...       ...
2020-06-16 19:58:45  313.82  313.89  313.82  313.86      12  313.867         8
2020-06-16 19:59:00  313.86  313.89  313.82  313.87       8  313.867         6
2020-06-16 19:59:15  313.88  313.90  313.82  313.90      69  313.880        12
2020-06-16 19:59:30  313.85  313.85  313.85  313.85       2  313.850         1
2020-06-16 19:59:45  313.85  313.85  313.85  313.85       1  313.850         1

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-06-17 04:00:00  314.87  314.87  314.87  314.87      24  314.870         2
2020-06-17 04:00:15  314.87  314.87  314.87  314.87       0  314.870         0
2020-06-17 04:00:30  314.87  314.87  314.87  314.87       0  314.870         0
2020-06-17 04:00:45  314.88  314.88  314.87  314.88      14  314.879         4
2020-06-17 04:01:00  314.89  315.07  314.89  315.07      25  314.971         7
...                     ...     ...     ...     ...     ...      ...       ...
2020-06-17 19:58:45  310.70  310.70  310.66  310.66       6  310.687         2
2020-06-17 19:59:00  310.64  310.64  310.59  310.59       4  310.630         2
2020-06-17 19:59:15  310.63  310.63  310.61  310.61       6  310.624         3
2020-06-17 19:59:30  310.59  310.59  310.57  310.57       5  310.573         2
2020-06-17 19:59:45  310.63  310.63  310.45  310.45      82  310.598         9

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-06-18 04:00:00  311.56  311.56  311.49  311.49       5  311.518         2
2020-06-18 04:00:15  311.49  311.49  311.36  311.41      19  311.435        12
2020-06-18 04:00:30  311.34  311.34  311.34  311.34       1  311.340         1
2020-06-18 04:00:45  311.16  311.16  311.16  311.16       4  311.160         3
2020-06-18 04:01:00  311.16  311.16  311.16  311.16       2  311.160         2
...                     ...     ...     ...     ...     ...      ...       ...
2020-06-18 19:58:45  312.86  312.89  312.86  312.89       5  312.872         2
2020-06-18 19:59:00  312.88  312.88  312.88  312.88       2  312.880         1
2020-06-18 19:59:15  312.88  312.91  312.88  312.91      14  312.897         4
2020-06-18 19:59:30  312.93  312.95  312.91  312.91     116  312.937        30
2020-06-18 19:59:45  312.91  312.95  312.90  312.93      32  312.925        15

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-06-19 04:00:00  312.12  312.12  312.06  312.06       8  312.093         5
2020-06-19 04:00:15  312.04  312.05  311.99  312.04      21  312.027        12
2020-06-19 04:00:30  312.04  312.04  312.00  312.00       6  312.007         2
2020-06-19 04:00:45  312.04  312.05  312.02  312.02      18  312.031         9
2020-06-19 04:01:00  312.00  312.00  312.00  312.00       4  312.000         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-06-19 19:58:45  306.06  306.10  306.06  306.10       5  306.090         4
2020-06-19 19:59:00  306.05  306.10  306.05  306.06       7  306.067         6
2020-06-19 19:59:15  306.10  306.10  306.06  306.10      20  306.098        15
2020-06-19 19:59:30  306.14  306.19  306.14  306.14      28  306.143         8
2020-06-19 19:59:45  306.14  306.14  306.10  306.10       5  306.127         4

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-06-22 04:00:00  308.50  308.56  308.40  308.56      28  308.511         7
2020-06-22 04:00:15  308.64  308.64  308.54  308.56      37  308.604        14
2020-06-22 04:00:30  308.61  308.61  308.61  308.61       2  308.610         2
2020-06-22 04:00:45  308.64  308.64  308.59  308.59      18  308.630         6
2020-06-22 04:01:00  308.56  308.56  308.46  308.46      10  308.525         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-06-22 19:58:45  312.37  312.39  312.35  312.39       5  312.378         4
2020-06-22 19:59:00  312.39  312.39  312.36  312.36      10  312.375         3
2020-06-22 19:59:15  312.36  312.36  312.30  312.33      14  312.346         5
2020-06-22 19:59:30  312.36  312.38  312.36  312.38       9  312.363         3
2020-06-22 19:59:45  312.33  312.34  312.26  312.33      86  312.289        10

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-06-23 04:00:00  313.37  313.40  313.31  313.39      16  313.354         7
2020-06-23 04:00:15  313.39  313.39  313.39  313.39       0  313.390         0
2020-06-23 04:00:30  313.33  313.33  313.32  313.32       3  313.326         2
2020-06-23 04:00:45  313.32  313.35  313.32  313.35       4  313.342         2
2020-06-23 04:01:00  313.33  313.38  313.33  313.38       4  313.366         2
...                     ...     ...     ...     ...     ...      ...       ...
2020-06-23 19:58:45  311.27  311.27  311.27  311.27       1  311.270         1
2020-06-23 19:59:00  311.27  311.30  311.27  311.30       5  311.294         2
2020-06-23 19:59:15  311.30  311.30  311.30  311.30       0  311.300         0
2020-06-23 19:59:30  311.22  311.22  311.20  311.20      18  311.208         6
2020-06-23 19:59:45  311.20  311.21  311.20  311.20      79  311.201        17

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-06-24 04:00:00  310.71  310.73  310.68  310.73      44  310.718        10
2020-06-24 04:00:15  310.77  310.81  310.77  310.81       2  310.790         2
2020-06-24 04:00:30  310.81  310.81  310.70  310.75       6  310.738         5
2020-06-24 04:00:45  310.70  310.70  310.70  310.70      19  310.700         6
2020-06-24 04:01:00  310.73  310.76  310.70  310.70      19  310.736         8
...                     ...     ...     ...     ...     ...      ...       ...
2020-06-24 19:58:45  304.19  304.20  304.19  304.19      27  304.191         7
2020-06-24 19:59:00  304.19  304.19  304.19  304.19       0  304.190         0
2020-06-24 19:59:15  304.09  304.09  303.88  303.88      55  303.935        10
2020-06-24 19:59:30  303.87  303.87  303.87  303.87       3  303.870         2
2020-06-24 19:59:45  303.86  303.87  303.81  303.81      34  303.829        10

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-06-25 04:00:00  301.53  301.53  301.53  301.53      15  301.530         2
2020-06-25 04:00:15  301.50  301.56  301.50  301.50      21  301.512         6
2020-06-25 04:00:30  301.64  301.64  301.57  301.57      10  301.633         3
2020-06-25 04:00:45  301.60  301.65  301.60  301.61       4  301.627         3
2020-06-25 04:01:00  301.60  301.60  301.60  301.60       1  301.600         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-06-25 19:58:45  307.54  307.54  307.50  307.50      53  307.519        20
2020-06-25 19:59:00  307.49  307.49  307.49  307.49       1  307.490         1
2020-06-25 19:59:15  307.47  307.47  307.43  307.43      44  307.451         9
2020-06-25 19:59:30  307.41  307.41  307.35  307.35      86  307.372        31
2020-06-25 19:59:45  307.33  307.37  307.33  307.37      23  307.347        10

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-06-26 04:00:00  306.48  306.48  306.47  306.48      14  306.479         5
2020-06-26 04:00:15  306.23  306.23  306.23  306.23       5  306.230         1
2020-06-26 04:00:30  306.20  306.20  306.10  306.10       5  306.117         2
2020-06-26 04:00:45  306.09  306.09  306.04  306.04      21  306.088         4
2020-06-26 04:01:00  306.04  306.04  306.04  306.04       0  306.040         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-06-26 19:58:45  300.15  300.15  300.10  300.10       2  300.125         2
2020-06-26 19:59:00  300.10  300.15  300.10  300.15       7  300.119         6
2020-06-26 19:59:15  300.15  300.15  300.15  300.15       0  300.150         0
2020-06-26 19:59:30  300.15  300.15  300.15  300.15       6  300.150         3
2020-06-26 19:59:45  300.16  300.16  300.15  300.15       5  300.154         5

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-06-29 04:00:00  301.22  301.24  301.20  301.20     106  301.208        15
2020-06-29 04:00:15  301.20  301.20  301.20  301.20      41  301.200         4
2020-06-29 04:00:30  301.20  301.20  301.19  301.19      37  301.199         5
2020-06-29 04:00:45  301.17  301.17  301.02  301.02      78  301.034        12
2020-06-29 04:01:00  301.06  301.06  301.06  301.06       3  301.060         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-06-29 19:58:45  305.45  305.45  305.45  305.45       4  305.450         3
2020-06-29 19:59:00  305.45  305.45  305.45  305.45      23  305.450         6
2020-06-29 19:59:15  305.48  305.50  305.48  305.50      22  305.499         9
2020-06-29 19:59:30  305.50  305.50  305.48  305.48       9  305.490         4
2020-06-29 19:59:45  305.52  305.52  305.47  305.47       9  305.498         2

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-06-30 04:00:00  304.00  304.04  303.99  304.00      17  304.009         7
2020-06-30 04:00:15  303.99  303.99  303.99  303.99       5  303.990         1
2020-06-30 04:00:30  303.99  303.99  303.99  303.99       0  303.990         0
2020-06-30 04:00:45  304.09  304.09  304.09  304.09       3  304.090         1
2020-06-30 04:01:00  304.14  304.14  304.10  304.10      10  304.121         2
...                     ...     ...     ...     ...     ...      ...       ...
2020-06-30 19:58:45  308.25  308.25  308.24  308.24       7  308.247         3
2020-06-30 19:59:00  308.25  308.26  308.25  308.25      14  308.250         4
2020-06-30 19:59:15  308.27  308.27  308.27  308.27       5  308.270         1
2020-06-30 19:59:30  308.31  308.31  308.31  308.31       9  308.310         4
2020-06-30 19:59:45  308.31  308.31  308.26  308.28      15  308.275         8

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-05-01 04:00:00  284.39  284.39  284.36  284.36      25  284.389         2
2020-05-01 04:00:15  284.21  284.21  284.21  284.21      10  284.210         1
2020-05-01 04:00:30  284.23  284.26  284.23  284.26       9  284.257         5
2020-05-01 04:00:45  284.35  284.35  284.35  284.35      26  284.350         7
2020-05-01 04:01:00  284.35  284.42  284.33  284.33      20  284.365         6
...                     ...     ...     ...     ...     ...      ...       ...
2020-05-01 19:58:45  282.90  282.90  282.90  282.90       9  282.900         3
2020-05-01 19:59:00  282.90  282.91  282.90  282.91      30  282.903         8
2020-05-01 19:59:15  282.90  282.91  282.90  282.90       7  282.903         4
2020-05-01 19:59:30  282.90  282.91  282.90  282.91       7  282.909         4
2020-05-01 19:59:45  282.90  282.91  282.90  282.90      18  282.901         8

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-05-04 04:00:00  280.56  280.66  280.56  280.66      21  280.624         6
2020-05-04 04:00:15  280.69  280.69  280.50  280.50      22  280.644        10
2020-05-04 04:00:30  280.44  280.51  280.44  280.51       4  280.475         3
2020-05-04 04:00:45  280.54  280.55  280.54  280.55      18  280.544         3
2020-05-04 04:01:00  280.53  280.55  280.53  280.55       7  280.538         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-05-04 19:58:45  283.46  283.46  283.46  283.46       4  283.460         1
2020-05-04 19:59:00  283.40  283.45  283.40  283.43      31  283.414         9
2020-05-04 19:59:15  283.44  283.46  283.43  283.43      82  283.450        20
2020-05-04 19:59:30  283.47  283.47  283.47  283.47       1  283.470         1
2020-05-04 19:59:45  283.49  283.51  283.45  283.51      43  283.487        14

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-05-05 04:00:00  286.17  286.40  286.17  286.40      44  286.211         3
2020-05-05 04:00:15  286.24  286.24  286.24  286.24       1  286.240         1
2020-05-05 04:00:30  286.26  286.26  286.26  286.26       5  286.260         1
2020-05-05 04:00:45  286.31  286.35  286.31  286.35       7  286.345         3
2020-05-05 04:01:00  286.35  286.37  286.35  286.37       6  286.357         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-05-05 19:58:45  286.97  286.97  286.97  286.97       0  286.970         0
2020-05-05 19:59:00  287.02  287.02  287.02  287.02       1  287.020         1
2020-05-05 19:59:15  287.02  287.02  286.99  287.01      68  287.005        21
2020-05-05 19:59:30  287.02  287.02  287.00  287.01      13  287.012         6
2020-05-05 19:59:45  287.00  287.02  287.00  287.02      34  287.014        11

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-05-06 04:00:00  287.76  287.79  287.76  287.79       6  287.765         3
2020-05-06 04:00:15  287.79  287.79  287.79  287.79       0  287.790         0
2020-05-06 04:00:30  287.79  287.79  287.79  287.79       0  287.790         0
2020-05-06 04:00:45  287.79  287.79  287.79  287.79       0  287.790         0
2020-05-06 04:01:00  287.85  287.85  287.84  287.84       9  287.845         2
...                     ...     ...     ...     ...     ...      ...       ...
2020-05-06 19:58:45  283.65  283.67  283.65  283.67      26  283.656         8
2020-05-06 19:59:00  283.65  283.65  283.65  283.65      68  283.650        10
2020-05-06 19:59:15  283.65  283.70  283.65  283.70      23  283.671        13
2020-05-06 19:59:30  283.69  283.69  283.63  283.63      21  283.656         8
2020-05-06 19:59:45  283.66  283.68  283.66  283.68       2  283.670         2

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-05-07 04:00:00  286.70  286.93  286.70  286.93      76  286.736         9
2020-05-07 04:00:15  286.93  286.96  286.93  286.96       5  286.949         2
2020-05-07 04:00:30  286.89  286.89  286.89  286.89       4  286.890         4
2020-05-07 04:00:45  286.90  286.90  286.90  286.90      11  286.900         5
2020-05-07 04:01:00  286.90  286.90  286.90  286.90       0  286.900         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-05-07 19:58:45  289.45  289.46  289.45  289.46      49  289.455        11
2020-05-07 19:59:00  289.46  289.46  289.41  289.41      16  289.455         3
2020-05-07 19:59:15  289.41  289.46  289.41  289.44      57  289.435        12
2020-05-07 19:59:30  289.46  289.50  289.44  289.50      42  289.478        10
2020-05-07 19:59:45  289.45  289.53  289.44  289.51      78  289.494        20

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-05-08 04:00:00  291.00  291.00  290.80  290.84      56  290.942        12
2020-05-08 04:00:15  290.84  290.84  290.84  290.84       2  290.840         2
2020-05-08 04:00:30  290.90  290.90  290.90  290.90       1  290.900         1
2020-05-08 04:00:45  290.90  290.90  290.89  290.90      31  290.900        11
2020-05-08 04:01:00  290.90  290.90  290.90  290.90       0  290.900         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-05-08 19:58:45  293.66  293.66  293.66  293.66       1  293.660         1
2020-05-08 19:59:00  293.65  293.66  293.65  293.65      18  293.654         9
2020-05-08 19:59:15  293.65  293.69  293.60  293.60      32  293.631        10
2020-05-08 19:59:30  293.59  293.69  293.59  293.69      23  293.599         6
2020-05-08 19:59:45  293.69  293.74  293.69  293.74      48  293.715        14

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-05-11 04:00:00  293.83  294.34  293.83  294.02      16  294.117         9
2020-05-11 04:00:15  293.97  293.97  293.97  293.97       1  293.970         1
2020-05-11 04:00:30  294.05  294.05  294.05  294.05       2  294.050         2
2020-05-11 04:00:45  294.05  294.05  294.05  294.05       0  294.050         0
2020-05-11 04:01:00  294.05  294.05  294.05  294.05       0  294.050         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-05-11 19:58:45  291.91  291.91  291.91  291.91       1  291.910         1
2020-05-11 19:59:00  291.91  291.91  291.91  291.91       0  291.910         0
2020-05-11 19:59:15  291.98  292.00  291.98  292.00     111  291.994        23
2020-05-11 19:59:30  292.02  292.02  291.95  291.95      11  292.008         4
2020-05-11 19:59:45  292.00  292.00  291.94  291.94      20  291.973         6

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-05-12 04:00:00  291.82  291.90  291.82  291.90      16  291.827         2
2020-05-12 04:00:15  291.90  291.90  291.90  291.90       0  291.900         0
2020-05-12 04:00:30  291.83  291.83  291.79  291.79       4  291.815         4
2020-05-12 04:00:45  291.78  291.78  291.78  291.78       3  291.780         2
2020-05-12 04:01:00  291.72  291.72  291.72  291.72       2  291.720         2
...                     ...     ...     ...     ...     ...      ...       ...
2020-05-12 19:58:45  283.30  283.31  283.20  283.27     224  283.276        45
2020-05-12 19:59:00  283.27  283.34  283.27  283.34      29  283.335         7
2020-05-12 19:59:15  283.34  283.35  283.25  283.35      92  283.304        22
2020-05-12 19:59:30  283.35  283.37  283.29  283.35     113  283.345        22
2020-05-12 19:59:45  283.35  283.36  283.29  283.30      26  283.332        12

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-05-13 04:00:00  285.68  285.69  285.60  285.69      17  285.677         5
2020-05-13 04:00:15  285.70  285.70  285.63  285.63     126  285.697        21
2020-05-13 04:00:30  285.64  285.64  285.64  285.64       2  285.640         2
2020-05-13 04:00:45  285.64  285.64  285.64  285.64       0  285.640         0
2020-05-13 04:01:00  285.54  285.54  285.50  285.50       6  285.507         2
...                     ...     ...     ...     ...     ...      ...       ...
2020-05-13 19:58:45  282.00  282.04  281.98  282.04       6  282.011         4
2020-05-13 19:59:00  282.00  282.00  282.00  282.00       3  282.000         1
2020-05-13 19:59:15  282.02  282.02  281.90  281.99      71  281.976        16
2020-05-13 19:59:30  282.01  282.05  282.00  282.00      91  282.020        24
2020-05-13 19:59:45  282.02  282.02  282.02  282.02     178  282.020        23

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-05-14 04:00:00  281.36  281.36  281.15  281.15      32  281.295         2
2020-05-14 04:00:15  281.10  281.10  281.10  281.10       2  281.100         1
2020-05-14 04:00:30  281.00  281.00  280.97  280.97       2  280.985         2
2020-05-14 04:00:45  280.97  280.97  280.97  280.97       0  280.970         0
2020-05-14 04:01:00  280.97  280.97  280.97  280.97       0  280.970         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-05-14 19:58:45  285.76  285.80  285.75  285.79      21  285.772         8
2020-05-14 19:59:00  285.75  285.77  285.75  285.75      13  285.765         5
2020-05-14 19:59:15  285.72  285.72  285.72  285.72       1  285.720         1
2020-05-14 19:59:30  285.66  285.69  285.65  285.69       9  285.663         3
2020-05-14 19:59:45  285.72  285.72  285.65  285.68      35  285.679         9

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-05-15 04:00:00  286.34  286.45  286.34  286.45      14  286.354         3
2020-05-15 04:00:15  286.38  286.38  286.38  286.38      25  286.380         5
2020-05-15 04:00:30  286.38  286.38  286.38  286.38       0  286.380         0
2020-05-15 04:00:45  286.26  286.26  286.26  286.26       5  286.260         1
2020-05-15 04:01:00  286.26  286.26  286.26  286.26       0  286.260         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-05-15 19:58:45  285.70  285.70  285.70  285.70       9  285.700         2
2020-05-15 19:59:00  285.70  285.70  285.69  285.70      11  285.696         6
2020-05-15 19:59:15  285.69  285.70  285.69  285.70      44  285.694         9
2020-05-15 19:59:30  285.70  285.70  285.65  285.70      14  285.683         9
2020-05-15 19:59:45  285.70  285.70  285.70  285.70      15  285.700         6

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-05-18 04:00:00  289.10  289.20  289.10  289.20     162  289.174         8
2020-05-18 04:00:15  289.30  289.37  289.30  289.37      10  289.311         6
2020-05-18 04:00:30  289.30  289.30  289.30  289.30      15  289.300         6
2020-05-18 04:00:45  289.30  289.30  289.30  289.30       0  289.300         0
2020-05-18 04:01:00  289.25  289.25  289.24  289.24     124  289.240        18
...                     ...     ...     ...     ...     ...      ...       ...
2020-05-18 19:58:45  295.52  295.52  295.45  295.45      19  295.488         5
2020-05-18 19:59:00  295.45  295.45  295.43  295.43      20  295.443         5
2020-05-18 19:59:15  295.43  295.45  295.43  295.44      15  295.438         6
2020-05-18 19:59:30  295.43  295.46  295.43  295.46       5  295.436         3
2020-05-18 19:59:45  295.40  295.46  295.40  295.46      33  295.425         9

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-05-19 04:00:00  295.43  295.43  295.43  295.43       1  295.430         1
2020-05-19 04:00:15  295.25  295.25  295.25  295.25      30  295.250         4
2020-05-19 04:00:30  295.25  295.25  295.25  295.25       0  295.250         0
2020-05-19 04:00:45  295.45  295.45  295.45  295.45       1  295.450         1
2020-05-19 04:01:00  295.63  295.64  295.62  295.62       3  295.631         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-05-19 19:58:45  292.73  292.73  292.69  292.73       9  292.726         4
2020-05-19 19:59:00  292.70  292.74  292.69  292.74      27  292.736         7
2020-05-19 19:59:15  292.72  292.74  292.70  292.70      34  292.733        14
2020-05-19 19:59:30  292.78  292.78  292.68  292.71      22  292.703         8
2020-05-19 19:59:45  292.72  292.72  292.66  292.69      23  292.690         4

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-05-20 04:00:00  293.38  293.46  293.38  293.46      21  293.421         6
2020-05-20 04:00:15  293.46  293.46  293.46  293.46       0  293.460         0
2020-05-20 04:00:30  293.44  293.44  293.44  293.44       2  293.440         1
2020-05-20 04:00:45  293.44  293.44  293.44  293.44       0  293.440         0
2020-05-20 04:01:00  293.51  293.51  293.49  293.49       4  293.495         2
...                     ...     ...     ...     ...     ...      ...       ...
2020-05-20 19:58:45  296.84  296.84  296.82  296.82      22  296.831         7
2020-05-20 19:59:00  296.84  296.85  296.82  296.85      42  296.838        18
2020-05-20 19:59:15  296.83  296.83  296.81  296.81      11  296.824         5
2020-05-20 19:59:30  296.81  296.81  296.80  296.81       9  296.807         7
2020-05-20 19:59:45  296.82  296.83  296.82  296.83      53  296.828        11

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-05-21 04:00:00  295.66  295.66  295.38  295.42      22  295.583         7
2020-05-21 04:00:15  295.34  295.34  295.34  295.34       1  295.340         1
2020-05-21 04:00:30  295.53  295.54  295.53  295.53      16  295.533         5
2020-05-21 04:00:45  295.58  295.58  295.58  295.58       1  295.580         1
2020-05-21 04:01:00  295.58  295.58  295.58  295.58       0  295.580         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-05-21 19:58:45  295.34  295.34  295.32  295.32      22  295.322         5
2020-05-21 19:59:00  295.32  295.35  295.32  295.35      19  295.322         2
2020-05-21 19:59:15  295.34  295.36  295.34  295.36       5  295.356         3
2020-05-21 19:59:30  295.35  295.38  295.35  295.38      27  295.355         6
2020-05-21 19:59:45  295.39  295.40  295.37  295.37      67  295.388        19

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-05-22 04:00:00  291.45  291.45  291.20  291.30      94  291.361        21
2020-05-22 04:00:15  291.35  291.37  291.34  291.37      25  291.343        15
2020-05-22 04:00:30  291.32  291.32  291.31  291.31       2  291.315         2
2020-05-22 04:00:45  291.30  291.30  291.30  291.30       1  291.300         1
2020-05-22 04:01:00  291.30  291.30  291.30  291.30       0  291.300         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-05-22 19:58:45  295.68  295.68  295.68  295.68       0  295.680         0
2020-05-22 19:59:00  295.57  295.57  295.57  295.57       1  295.570         1
2020-05-22 19:59:15  295.57  295.57  295.57  295.57       0  295.570         0
2020-05-22 19:59:30  295.58  295.61  295.57  295.60       8  295.582         6
2020-05-22 19:59:45  295.52  295.60  295.50  295.60      19  295.525         5

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-05-22 04:00:00  291.45  291.45  291.20  291.30      94  291.361        21
2020-05-22 04:00:15  291.35  291.37  291.34  291.37      25  291.343        15
2020-05-22 04:00:30  291.32  291.32  291.31  291.31       2  291.315         2
2020-05-22 04:00:45  291.30  291.30  291.30  291.30       1  291.300         1
2020-05-22 04:01:00  291.30  291.30  291.30  291.30       0  291.300         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-05-22 19:58:45  295.68  295.68  295.68  295.68       0  295.680         0
2020-05-22 19:59:00  295.57  295.57  295.57  295.57       1  295.570         1
2020-05-22 19:59:15  295.57  295.57  295.57  295.57       0  295.570         0
2020-05-22 19:59:30  295.58  295.61  295.57  295.60       8  295.582         6
2020-05-22 19:59:45  295.52  295.60  295.50  295.60      19  295.525         5

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-05-26 04:00:00  300.51  301.00  300.51  301.00     212  300.610        14
2020-05-26 04:00:15  301.00  301.00  301.00  301.00       0  301.000         0
2020-05-26 04:00:30  300.80  300.80  300.78  300.78      10  300.783         3
2020-05-26 04:00:45  300.86  300.86  300.86  300.86       1  300.860         1
2020-05-26 04:01:00  300.86  300.86  300.86  300.86       0  300.860         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-05-26 19:58:45  299.41  299.41  299.39  299.39      19  299.400         5
2020-05-26 19:59:00  299.39  299.39  299.39  299.39       0  299.390         0
2020-05-26 19:59:15  299.37  299.37  299.36  299.36      14  299.367         4
2020-05-26 19:59:30  299.39  299.40  299.36  299.40      16  299.368         6
2020-05-26 19:59:45  299.39  299.39  299.38  299.39       7  299.389         3

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-05-27 04:00:00  301.86  302.00  301.86  302.00      75  301.898        10
2020-05-27 04:00:15  301.90  301.91  301.90  301.91      13  301.902         2
2020-05-27 04:00:30  301.91  301.91  301.91  301.91       0  301.910         0
2020-05-27 04:00:45  301.91  301.91  301.91  301.91       0  301.910         0
2020-05-27 04:01:00  301.89  301.89  301.89  301.89       1  301.890         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-05-27 19:58:45  304.25  304.59  304.24  304.48     155  304.307        42
2020-05-27 19:59:00  304.49  304.63  304.49  304.57      85  304.569        19
2020-05-27 19:59:15  304.55  304.56  304.51  304.51      35  304.537        12
2020-05-27 19:59:30  304.52  304.55  304.44  304.44      60  304.513        21
2020-05-27 19:59:45  304.48  304.54  304.42  304.54      42  304.482        16

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-05-28 04:00:00  304.80  304.80  304.80  304.80      22  304.800         3
2020-05-28 04:00:15  304.80  304.80  304.80  304.80       7  304.800         3
2020-05-28 04:00:30  304.75  304.75  304.75  304.75      10  304.750         1
2020-05-28 04:00:45  304.67  304.67  304.67  304.67       1  304.670         1
2020-05-28 04:01:00  304.75  304.75  304.75  304.75       2  304.750         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-05-28 19:58:45  302.95  302.95  302.93  302.93      10  302.938         4
2020-05-28 19:59:00  302.93  302.93  302.88  302.88      23  302.912         9
2020-05-28 19:59:15  302.89  302.89  302.81  302.81     125  302.881        31
2020-05-28 19:59:30  302.82  302.82  302.77  302.79      19  302.793        11
2020-05-28 19:59:45  302.86  302.86  302.86  302.86       2  302.860         2

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-05-29 04:00:00  302.28  302.28  302.12  302.12      17  302.241         6
2020-05-29 04:00:15  302.19  302.19  302.08  302.14      17  302.153         7
2020-05-29 04:00:30  302.14  302.14  302.14  302.14       0  302.140         0
2020-05-29 04:00:45  302.14  302.14  302.14  302.14       0  302.140         0
2020-05-29 04:01:00  302.14  302.14  302.14  302.14       0  302.140         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-05-29 19:58:45  306.04  306.04  306.03  306.04      57  306.031        10
2020-05-29 19:59:00  306.05  306.05  306.05  306.05       2  306.050         2
2020-05-29 19:59:15  306.05  306.10  306.05  306.10       9  306.084         2
2020-05-29 19:59:30  306.09  306.09  306.05  306.05       9  306.067         5
2020-05-29 19:59:45  306.05  306.10  306.05  306.10      12  306.083         4

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-04-01 04:00:00  251.84  251.98  249.67  249.89     104  250.273        20
2020-04-01 04:00:15  249.89  249.90  249.74  249.84      18  249.866        11
2020-04-01 04:00:30  249.81  249.81  249.69  249.69      34  249.708         9
2020-04-01 04:00:45  249.80  249.80  249.62  249.74       6  249.743         6
2020-04-01 04:01:00  249.75  249.80  249.74  249.75      39  249.788         8
...                     ...     ...     ...     ...     ...      ...       ...
2020-04-01 19:58:45  247.27  247.28  247.27  247.28       2  247.276         2
2020-04-01 19:59:00  247.30  247.33  247.30  247.33      17  247.305         4
2020-04-01 19:59:15  247.33  247.37  247.28  247.34      76  247.328        21
2020-04-01 19:59:30  247.37  247.46  247.37  247.45      37  247.455         4
2020-04-01 19:59:45  247.46  247.52  247.46  247.50      72  247.499        19

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-04-02 04:00:00  249.53  249.63  249.53  249.63      12  249.548         4
2020-04-02 04:00:15  249.63  249.63  249.63  249.63       0  249.630         0
2020-04-02 04:00:30  249.66  249.66  249.66  249.66       1  249.660         1
2020-04-02 04:00:45  249.77  249.77  249.77  249.77       2  249.770         2
2020-04-02 04:01:00  249.75  249.75  249.75  249.75      10  249.750         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-04-02 19:58:45  250.80  250.84  250.80  250.83       8  250.823         3
2020-04-02 19:59:00  250.83  250.88  250.81  250.81      25  250.832        18
2020-04-02 19:59:15  250.84  250.84  250.83  250.84      36  250.839         5
2020-04-02 19:59:30  250.81  250.86  250.80  250.86      19  250.811         8
2020-04-02 19:59:45  250.82  250.89  250.79  250.79      21  250.855         9

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-04-03 04:00:00  250.00  250.00  249.88  250.00      37  249.984         7
2020-04-03 04:00:15  249.90  249.90  249.90  249.90       1  249.900         1
2020-04-03 04:00:30  250.02  250.02  250.02  250.02       4  250.020         2
2020-04-03 04:00:45  250.00  250.00  250.00  250.00      10  250.000         4
2020-04-03 04:01:00  250.00  250.00  250.00  250.00       0  250.000         0
...                     ...     ...     ...     ...     ...      ...       ...
2020-04-03 19:58:45  247.93  247.93  247.92  247.92       8  247.924         4
2020-04-03 19:59:00  247.97  247.97  247.92  247.92      10  247.925         2
2020-04-03 19:59:15  247.92  247.92  247.92  247.92      12  247.920         9
2020-04-03 19:59:30  247.92  247.96  247.92  247.96      20  247.936        10
2020-04-03 19:59:45  247.92  247.92  247.92  247.92      12  247.920         4

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-04-06 04:00:00  258.24  258.47  258.21  258.42     157  258.288        17
2020-04-06 04:00:15  258.42  258.51  258.42  258.42      57  258.491        11
2020-04-06 04:00:30  258.43  258.43  258.31  258.36      24  258.408         6
2020-04-06 04:00:45  258.39  258.46  258.36  258.46      24  258.405        11
2020-04-06 04:01:00  258.50  258.53  258.45  258.46      17  258.494         9
...                     ...     ...     ...     ...     ...      ...       ...
2020-04-06 19:58:45  266.41  266.41  266.29  266.38      67  266.369        18
2020-04-06 19:59:00  266.31  266.38  266.29  266.35      44  266.338        31
2020-04-06 19:59:15  266.35  266.50  266.35  266.50     964  266.466       130
2020-04-06 19:59:30  266.50  266.53  266.50  266.50      98  266.502        30
2020-04-06 19:59:45  266.50  266.55  266.50  266.55     304  266.514        73

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-04-07 04:00:00  270.75  270.78  270.69  270.78      37  270.750         4
2020-04-07 04:00:15  270.77  270.85  270.77  270.85       2  270.810         2
2020-04-07 04:00:30  270.90  270.90  270.69  270.69      82  270.750        14
2020-04-07 04:00:45  270.67  270.80  270.57  270.71      17  270.684         9
2020-04-07 04:01:00  270.71  270.71  270.60  270.60      25  270.684         8
...                     ...     ...     ...     ...     ...      ...       ...
2020-04-07 19:58:45  265.37  265.37  265.37  265.37       3  265.370         1
2020-04-07 19:59:00  265.40  265.44  265.32  265.34      47  265.370        13
2020-04-07 19:59:15  265.34  265.36  265.30  265.32      36  265.330        10
2020-04-07 19:59:30  265.32  265.34  265.17  265.20     127  265.286        33
2020-04-07 19:59:45  265.13  265.22  265.13  265.22     119  265.185        30

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-04-08 04:00:00  265.80  265.88  265.75  265.75      11  265.807         6
2020-04-08 04:00:15  265.79  265.79  265.79  265.79       1  265.790         1
2020-04-08 04:00:30  265.52  265.52  265.52  265.52       2  265.520         1
2020-04-08 04:00:45  265.63  265.63  265.60  265.60       3  265.620         3
2020-04-08 04:01:00  265.47  265.47  265.39  265.39      11  265.397         3
...                     ...     ...     ...     ...     ...      ...       ...
2020-04-08 19:58:45  275.12  275.16  275.10  275.10      34  275.129         7
2020-04-08 19:59:00  275.05  275.05  275.05  275.05       4  275.050         1
2020-04-08 19:59:15  275.02  275.03  275.00  275.02      34  275.017        16
2020-04-08 19:59:30  275.03  275.03  274.90  274.91      36  274.924         8
2020-04-08 19:59:45  274.97  275.00  274.92  274.99      54  274.959         9

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-04-09 04:00:00  276.56  276.92  276.56  276.92     158  276.568         4
2020-04-09 04:00:15  276.82  276.85  276.82  276.85       5  276.832         3
2020-04-09 04:00:30  276.91  276.92  276.91  276.92       7  276.916         2
2020-04-09 04:00:45  276.98  277.06  276.93  277.02      73  277.028        21
2020-04-09 04:01:00  276.92  276.94  276.92  276.94      14  276.934         2
...                     ...     ...     ...     ...     ...      ...       ...
2020-04-09 19:58:45  279.03  279.09  279.03  279.09       5  279.057         3
2020-04-09 19:59:00  279.09  279.09  279.09  279.09       1  279.090         1
2020-04-09 19:59:15  279.07  279.19  279.07  279.19      18  279.139        12
2020-04-09 19:59:30  279.13  279.13  279.03  279.03      20  279.085        11
2020-04-09 19:59:45  279.03  279.05  279.00  279.00      37  279.005        14

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-04-09 04:00:00  276.56  276.92  276.56  276.92     158  276.568         4
2020-04-09 04:00:15  276.82  276.85  276.82  276.85       5  276.832         3
2020-04-09 04:00:30  276.91  276.92  276.91  276.92       7  276.916         2
2020-04-09 04:00:45  276.98  277.06  276.93  277.02      73  277.028        21
2020-04-09 04:01:00  276.92  276.94  276.92  276.94      14  276.934         2
...                     ...     ...     ...     ...     ...      ...       ...
2020-04-09 19:58:45  279.03  279.09  279.03  279.09       5  279.057         3
2020-04-09 19:59:00  279.09  279.09  279.09  279.09       1  279.090         1
2020-04-09 19:59:15  279.07  279.19  279.07  279.19      18  279.139        12
2020-04-09 19:59:30  279.13  279.13  279.03  279.03      20  279.085        11
2020-04-09 19:59:45  279.03  279.05  279.00  279.00      37  279.005        14

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-04-13 04:00:00  274.63  274.71  274.50  274.71      62  274.624        12
2020-04-13 04:00:15  274.66  274.66  274.63  274.63       7  274.638         2
2020-04-13 04:00:30  274.65  274.66  274.50  274.65      29  274.593        11
2020-04-13 04:00:45  274.64  274.66  274.64  274.65      22  274.658        10
2020-04-13 04:01:00  274.66  274.66  274.58  274.58       4  274.603         2
...                     ...     ...     ...     ...     ...      ...       ...
2020-04-13 19:58:45  276.97  276.97  276.97  276.97      15  276.970         1
2020-04-13 19:59:00  276.99  277.00  276.97  277.00       3  276.987         3
2020-04-13 19:59:15  277.05  277.05  277.05  277.05       1  277.050         1
2020-04-13 19:59:30  277.00  277.00  276.99  276.99       9  276.991         3
2020-04-13 19:59:45  277.08  277.08  277.08  277.08       4  277.080         2

[3840 rows x 7 columns]

ended
starting

date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
average            float64
barcount             int64
dtype: object

                       open    high     low   close  volume  average  barcount
date
2020-04-14 04:00:00  279.27  279.27  279.27  279.27       9  279.270         1
2020-04-14 04:00:15  279.27  279.27  279.27  279.27       0  279.270         0
2020-04-14 04:00:30  279.27  279.27  279.27  279.27       0  279.270         0
2020-04-14 04:00:45  279.27  279.27  279.27  279.27       0  279.270         0
2020-04-14 04:01:00  278.98  278.98  278.98  278.98       1  278.980         1
...                     ...     ...     ...     ...     ...      ...       ...
2020-04-14 19:58:45  283.46  283.46  283.40  283.40      23  283.414         8
2020-04-14 19:59:00  283.36  283.40  283.34  283.36      47  283.358        13
2020-04-14 19:59:15  283.36  283.37  283.36  283.37      27  283.363         5
2020-04-14 19:59:30  283.38  283.39  283.38  283.39      12  283.388         5
2020-04-14 19:59:45  283.44  283.44  283.38  283.40      33  283.393        12

[3840 rows x 7 columns]

ended
starting