In [1]:
import datetime
from ib_insync import *

util.startLoop()

ib = IB()
ib.connect('host.docker.internal', 7497, clientId=15)

# bars = ib.reqHistoricalData(
#     contract, endDateTime='', durationStr='30 D',
#     barSizeSetting='1 hour', whatToShow='MIDPOINT', useRTH=True)

# # convert to pandas dataframe:
# df = util.df(bars)
# print(df)

In [3]:
import qgrid
import functools
from collections import namedtuple
import pandas as pd

pd.set_option('display.max_colwidth',100)
start = ''
end = "20200828 11:41:41"
contract = Stock('SPY', 'SMART', 'USD')

ticks = ib.reqHistoricalTicks(contract, start, end, 1000, 'TRADES', useRth=False)
df = util.df(ticks)
df = df.set_index('time')
df = df.tz_convert('America/Toronto')

df['pastLimit'] = [row.pastLimit for row in df['tickAttribLast']]
df['unreported'] = [row.unreported for row in df['tickAttribLast']]
del df['tickAttribLast']
display(df)
ticks = ib.reqHistoricalTicks(contract, start, end, 1000, 'BID_ASK', useRth=False)
df = util.df(ticks)
df = df.set_index('time')
df = df.tz_convert('America/Toronto')
# display(df)
# print(df.dtypes)

df['bidPastLow'] = [row.bidPastLow for row in df['tickAttribBidAsk']]
df['askPastHigh'] = [row.askPastHigh for row in df['tickAttribBidAsk']]
del df['tickAttribBidAsk']
display(df)
# df.to_csv("tsla.csv")


end = "20200828 23:59:00"
bars = ib.reqHistoricalData(
    contract,endDateTime=end, durationStr='1 D',
    barSizeSetting='5 mins', whatToShow='TRADES', useRTH=False)

# convert to pandas dataframe:
df = util.df(bars)
df = df.set_index('date')

display(df)

,price,size,exchange,specialConditions,pastLimit,unreported
time,,,,,,
2020-08-28 11:38:51-04:00,349.1900,2,ISLAND,I,False,True
2020-08-28 11:38:51-04:00,349.2000,4,ISLAND,F I,False,True
2020-08-28 11:38:51-04:00,349.1975,4,FINRA,I,False,True
2020-08-28 11:38:51-04:00,349.2000,20,FINRA,I,False,True
2020-08-28 11:38:51-04:00,349.2000,7,ISLAND,I,False,True
...,...,...,...,...,...,...
2020-08-28 11:41:39-04:00,349.1000,100,BATS,F,False,False
2020-08-28 11:41:39-04:00,349.1000,24,ISLAND,F I,False,True
2020-08-28 11:41:39-04:00,349.1001,1,FINRA,I,False,True
2020-08-28 11:41:40-04:00,349.1000,3,BYX,I,False,True
2020-08-28 11:41:40-04:00,349.1200,6,ARCA,I,False,True

,priceBid,priceAsk,sizeBid,sizeAsk,bidPastLow,askPastHigh
time,,,,,,
2020-08-28 11:41:36-04:00,349.12,349.13,100,2500,False,False
2020-08-28 11:41:37-04:00,349.12,349.13,300,2500,False,False
2020-08-28 11:41:37-04:00,349.12,349.13,300,2600,False,False
2020-08-28 11:41:37-04:00,349.12,349.13,300,2700,False,False
2020-08-28 11:41:37-04:00,349.12,349.13,300,2800,False,False
...,...,...,...,...,...,...
2020-08-28 11:41:40-04:00,349.10,349.12,2300,4100,False,False
2020-08-28 11:41:40-04:00,349.10,349.12,2300,4000,False,False
2020-08-28 11:41:40-04:00,349.10,349.12,2300,3800,False,False
2020-08-28 11:41:40-04:00,349.10,349.12,2300,3700,False,False
2020-08-28 11:41:40-04:00,349.10,349.12,2400,3700,False,False

                       open    high     low   close  volume  average  barCount
date
2020-08-28 04:00:00  349.26  349.43  349.26  349.43       8  349.343         5
2020-08-28 04:05:00  349.48  349.48  349.43  349.43      26  349.435         7
2020-08-28 04:10:00  349.46  349.48  349.43  349.48      39  349.441        10
2020-08-28 04:15:00  349.55  349.79  349.55  349.79     126  349.657        49
2020-08-28 04:20:00  349.75  350.02  349.75  350.02      53  349.881        18
...                     ...     ...     ...     ...     ...      ...       ...
2020-08-28 19:35:00  350.94  350.96  350.92  350.95      18  350.950         8
2020-08-28 19:40:00  350.94  350.98  350.94  350.96      48  350.962        13
2020-08-28 19:45:00  350.96  350.96  350.96  350.96      13  350.960         5
2020-08-28 19:50:00  350.95  351.03  350.95  351.00      68  351.003        17
2020-08-28 19:55:00  351.03  351.03  350.98  350.98      38  351.003        14

[192 rows x 7 columns]

In [4]:
import asyncpg, os

print(os.environ['POSTGRES_PASSWORD'])

tuples = [tuple(x) for x in df.values]

s = await conn.copy_records_to_table(table_name, records=tuples, columns=list(df.columns), timeout=10)

FoolishPassword

NameError: name 'df' is not defined